@use "../abstracts/_bundle.scss" as abs;

// --------------- header --------------- 
.header {
    @include abs.responsivePaddingY(2rem, 2rem, 1rem);

    top: 0;
    z-index: 10;
    background-color: transparent;
    justify-content: space-between;
    border-bottom: 0.1rem solid map-get(abs.$colors, gray-150);

    &__container {
        margin: 0 auto;
    }

    img {
        width: 20rem;
    }

    nav {
        @include abs.responsiveGap(4rem, 2rem);

        padding: 0;
        justify-content: end;

        a {
            @include abs.fontStyle(body, body3, 500, 1.4, 0, map-get(abs.$colors, white));
            
            color: map-get(abs.$colors, white);
        }
    }

    @media (max-width: map-get(abs.$breakpoints, medium)) {
        &__container {
            justify-content: space-between;
        }

        img {
            width: 18rem;
        }

        nav {
            display: none;
        }
    }
}

// --------------- m-nav ---------------
.m-nav {
    background-color: map-get(abs.$colors, black);

    &__container {
        margin: 0 auto;
    }
    
    &__container-top {
        @include abs.responsivePaddingY(2rem, 2rem, 1rem);

        justify-content: space-between;
    }

    &__container-bottom {
        gap: 4rem;
        flex: 1;

        a {
            @include abs.fontStyle(body, body1, 500, 1.4, 0, map-get(abs.$colors, white));

            color: map-get(abs.$colors, white);
        }
    } 

    img {
        width: 18rem;
    }
}

// header와 .m-nav의 공통 스타일
.menu-toggle {
    width: 4rem;
    height: 4rem;
    justify-content: end;

    img {
        width: 2.5rem;
    }

    @media (max-width: map-get(abs.$breakpoints, small)) {
        img {
            width: 2rem;
        }
    }
}

// --------------- footer --------------- 
.footer {
    @include abs.responsivePaddingY(6rem, 5rem, 4rem);  

    background-color: map-get(abs.$colors, gray-50);
    
    &__container {
        flex-direction: row;
        justify-content: space-between;
        align-items: start;
    }
    
    .icon__container {
        width: fit-content;
        gap: 4rem;
    }
    
    .content {
        display: flex;

        &__01 {
            gap: 11rem;
        }

        &__02 {
            flex-direction: column;
            gap: 1.2rem;
        }

        > div {
            display: flex;
            flex-direction: column;
            gap: 1.2rem;
        }
    }

    span {
        font-size: 1.4rem;
        font-weight: 400;
        line-height: 1.5;
        color: map-get(abs.$colors, gray-150);
    }

    @media (max-width: 1440px) {
        &__container {
            width: fit-content;
            flex-direction: column;
            gap: 5rem;
            margin: 0 auto;
        }

        .content {
            gap: 0;

            &__left {
                width: 35.4rem;
            }

            &__01 {
                flex-direction: row;
    
                > div {
                    align-items: start;
                }
            }

            &__02 {
                width: 100%;
                flex-direction: row;
            }

        }
    }

    @media (max-width: map-get(abs.$breakpoints, medium)) {
        &__container {
            align-items: start;
            margin: 0;
        }

        .content {
            &__left {
                width: fit-content;
            }

            &__01 {
                gap: 4rem;
            }

            &__02 {
                flex-direction: column;
                gap: 1.2rem;
            }
        }
    }

    @media (max-width: map-get(abs.$breakpoints, small)) {
        .content {
            &__01 {
                flex-direction: column;
                gap: 4rem;
            }
        }
    }
}

// --------------- cta ---------------
.cta {
    @each $bp, $width in (large: 29.7rem, medium: 24.5rem, small: 22.5rem) {
        @media (max-width: map-get(abs.$breakpoints, $bp)) {
            width: $width;
        }
    }

    @include abs.fontStyle(label, label1, 500, 1.4, -0rem, map-get(abs.$colors, primary));

    width: 31.3rem;
    border-radius: 5rem;
}

// --------------- cta-sub ---------------
.cta-sub {
    @include abs.fontStyle(label, label1, 500, 1.4, 0, map-get(abs.$colors, primary));

    padding-left: 6rem;
    padding-right: 6rem;
    border-radius: 5rem;
}

// --------------- hero--sub ---------------
.hero {
    &--sub {
        @include abs.responsivePaddingY(
            $pc: (pt: 22rem, pb: 12rem), $laptop: 10rem, $tablet: 8rem);

            position: relative;
    }

    &__bg {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
    }

    &__container--sub {
        position: relative;
        z-index: 3;
    }

    &__title--sub {
        opacity: 1;
    }

    .cta-seller {
        color: map-get(abs.$colors, white);
    }

}

// --------------- results ---------------
.results {
    &__title {
        @include abs.fontStyle(title, title2, 700, 1.2, 0, map-get(abs.$colors, navy));
    }

    &__list {
        
        height: clamp(11.2rem, 9.139rem + 4.303vw, 17.4rem);
        text-align: center;
        transform-origin: top center;

        .text {
            @include abs.fontStyle(title, title2, 700, 1.3, 0, map-get(abs.$colors, navy));

            white-space: nowrap;
        }

        @media (max-width: 1439px) {
            flex-direction: column;
            margin-top: 8rem;

            .image {
                position: absolute;
                top: 0;
                transform: translateY(-100%);
            }
        }
    }
}

// --------------- liveType ---------------
.liveType {

    &__tab {
        @include abs.fontStyle(button, button1, 700, 1.4, 0, map-get(abs.$colors, gray-100));

        display: flex;
        flex: 1;
        padding-top: 1rem;
        padding-bottom: 1rem;
        border-bottom: 0.2rem solid map-get(abs.$colors, gray-100);

        &::before, &::after {
            content: "";
            flex: 1;
        }
    }

    &__content {
        @include abs.responsiveGap(6rem, 5rem, 6rem);
        @include abs.responsiveMarginTop(-6rem, -5rem, -2rem, -2rem);

        display: none;

        &.on {
            display: flex;
        }
    }

    &__image {
        width: fit-content;
        position: relative;

        .live-image {
            width: clamp(18rem, 16.385rem + 4.487vw, 25rem);
        }
    }

    &__text {
        flex-direction: column;
        align-items: start;
    }

    &__feature {
        width: fit-content;
        padding: 0.8rem 1.5rem;
        margin-bottom: 1.5rem;
        border-radius: 1rem;
    }

    &__title {
        @include abs.fontStyle(title, title5, 700, 1.3, -0.005rem, map-get(abs.$colors, navy));

        margin-bottom: 4rem;
    }

    &__desc {
        @include abs.fontStyle(body, body3, 500, 1.4, 0, map-get(abs.$colors, navy));

        margin-bottom: 1.5rem;
    }

    &__subDesc {
        li {
            @include abs.fontStyle(body, body5, 400, 1.5, 0, map-get(abs.$colors, gray-150));
        }
    }

    @media (max-width: map-get(abs.$breakpoints, large)) {

        &__content {
            flex-direction: column;
        }

        .liveType {
            
            &__text {
                align-items: center;
    
                > * {
                    text-align: left;
                }
    
                li {
                    width: fit-content;
                }
            }

            &__desc {
                text-align: center;
            }
        }
        
    }
}

// --------------- guide-card__container ---------------
.guide-card__container {
    display: grid;
    gap: 2.5rem;

    @media (max-width: map-get(abs.$breakpoints, medium)) {
        gap: 1.5rem;
    }

    @media (max-width: 580px) {
        width: 100%;
        display: flex;
        flex-direction: column;
    }
}

// --------------- guide ---------------
.guide-card__container {
    grid-template-columns: repeat(4, 1fr);

    @media (max-width: 1439px) {
        grid-template-rows: repeat(2, 1fr); 
        grid-template-columns: repeat(2, 1fr); 
    }

    @media (max-width: map-get(abs.$breakpoints, small)) {
        grid-template-rows: repeat(4, 1fr); 
    }
}

// --------------- guide-card ---------------
.guide-card {
    aspect-ratio: 3 / 4;
    width: 30rem;
    padding: 4rem 3rem;
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;  
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;  

    &::before {
        content: "";
        position: absolute;
        inset: 0;
        z-index: 1;
        border-radius: 2rem;
    }

    &:nth-child(2n - 1) {
        &::before {
            background: linear-gradient(to bottom, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0));
        }
    }
    
    &:nth-child(2n) {
        &::before {
            background: linear-gradient(to bottom, rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.05));
        }
    }

    &__text {
        display: flex;
        flex-direction: column;
        gap: 3rem;
        position: relative;
        z-index: 5;
    }

    &__title {
        @include abs.fontStyle(title, title5, 700, 1.3, 0, map-get(abs.$colors, white));
    }

    &__desc {
        @include abs.fontStyle(body, body3, 400, 1.4, 0, map-get(abs.$colors, white));        
    }

    &__button {
        width: fit-content;
        padding: 0.8rem 1.5rem;
        border-radius: 5rem;
        background-color: map-get(abs.$colors, white);
        gap: 0.8rem;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 5;
        transition: all 0.3s ease-in-out;

        i {
            font-size: 2rem;
            color: #ff0000;
        }

        span {
            @include abs.fontStyle(button, button3, 500, 1, 0, map-get(abs.$colors, navy));
        }

        &:hover {
            transform: scale(1.03);
            box-shadow: 0.5rem 0.5rem 1rem rgba(0, 0, 0, 0.3);
        }
    }

    @media (max-width: map-get(abs.$breakpoints, medium)) {
        width: 26rem;
    }

    @media (max-width: 580px) {
        aspect-ratio: auto;
        width: 100%;
        height: 24rem;
        padding: 3rem;

        &__text {
            gap: 1rem;
        }

        &__button {    
            i {
                font-size: 1.8rem;
            }
        }
    }
}