@use "../abstracts/_bundle.scss" as abs;

// --------------- header --------------- 
.header {
    @include abs.responsivePaddingY(0, 0, 1rem);

    top: 0;
    z-index: 10;
    background-color: transparent;
    justify-content: space-between;
    border-bottom: 0.1rem solid map-get(abs.$colors, gray-150);

    &__container {
        margin: 0 auto;
    }

    img {
        width: 20rem;
    }

    nav {
        padding: 0;
        justify-content: end;

        a {
            @include abs.fontStyle(body, body2, 500, 1.4, 0, map-get(abs.$colors, white));
            @include abs.responsivePaddingX(2rem, 1rem);
            @include abs.responsivePaddingY(2.5rem);

            color: map-get(abs.$colors, white);
            position: relative;

            &::after {
                content: "";
                width: 0;
                height: 0.2rem;
                position: absolute;
                left: 50%;
                bottom: 0;
                transform: translateX(-50%);
                background-color: map-get(abs.$colors, primary);
                transition: all 0.15s ease-in;
            }

            &:hover::after {
                width: 100%;
                transition: all 0.3s ease-out;
            }
        }
    }

    @media (max-width: map-get(abs.$breakpoints, medium)) {
        &__container {
            justify-content: space-between;
        }

        img {
            width: 16rem;
        }

        nav {
            display: none;
        }
    }
}

// --------------- m-nav ---------------
.m-nav {
    background-color: map-get(abs.$colors, black);

    &__container {
        margin: 0 auto;
    }
    
    &__container-head {
        @include abs.responsivePaddingY(2rem, 2rem, 1rem);

        justify-content: space-between;
    }

    &__container-body {
        gap: 4rem;
        flex: 1;

        a {
            @include abs.fontStyle(body, body1, 500, 1.4, 0, map-get(abs.$colors, white));

            color: map-get(abs.$colors, white);

            &:hover {
                color: map-get(abs.$colors, primary);    
            }
        }
    } 

    img {
        width: 16rem;
    }
}

// header와 .m-nav의 공통 스타일
.menu-toggle {
    width: 4rem;
    height: 4rem;
    justify-content: end;

    img {
        width: 2.5rem;
    }

    @media (max-width: map-get(abs.$breakpoints, small)) {
        img {
            width: 2rem;
        }
    }
}

// --------------- footer --------------- 
.footer {
    @include abs.responsivePaddingY(6rem, 5rem, 4rem);  

    background-color: map-get(abs.$colors, gray-50);
    
    &__container {
        flex-direction: row;
        justify-content: space-between;
        align-items: start;
    }
    
    .icon__container {
        width: fit-content;
        gap: 4rem;
    }
    
    .content {
        display: flex;

        &__top {
            gap: 11rem;
        }

        &__bottom {
            flex-direction: column;
            gap: 1.2rem;
        }

        > div {
            display: flex;
            flex-direction: column;
            gap: 1.2rem;
        }
    }

    &__desc {
        font-size: 1.4rem;
        font-weight: 400;
        line-height: 1.5;
        color: map-get(abs.$colors, gray-150);
    }

    @media (max-width: 1440px) {
        &__container {
            width: fit-content;
            flex-direction: column;
            gap: 5rem;
            margin: 0 auto;
        }

        .content {
            gap: 0;

            &__left {
                width: 35.4rem;
            }

            &__top {
                flex-direction: row;
    
                > div {
                    align-items: start;
                }
            }

            &__bottom {
                width: 100%;
                flex-direction: row;
            }

        }
    }

    @media (max-width: map-get(abs.$breakpoints, medium)) {
        &__container {
            align-items: start;
            margin: 0;
        }

        .content {
            &__left {
                width: fit-content;
            }

            &__top {
                gap: 4rem;
            }

            &__bottom {
                flex-direction: column;
                gap: 1.2rem;
            }
        }
    }

    @media (max-width: map-get(abs.$breakpoints, small)) {
        .content {
            &__top {
                flex-direction: column;
                gap: 4rem;
            }
        }
    }
}

// --------------- floating-btn ---------------
.floating-btn {
    position: fixed;
    right: 1%;
    bottom: 2%;
    z-index: 100;

    svg {
        width: clamp(6rem, 5.077rem + 2.564vw, 10rem);
        height: clamp(6rem, 5.077rem + 2.564vw, 10rem);
        animation: rotateAnimation 8s linear infinite;
    }

    text, i {
        text-shadow: 0 2px 8px rgba(0,0,0,0.25);
    }

    text {
        font-size: 0.9rem;
        letter-spacing: 0.025rem;
        fill: map-get(abs.$colors, white);
        stroke: #333;
        stroke-width: 0.3px;
    }
    
    i {
        color: map-get(abs.$colors, white);
        font-size: clamp(1.5rem, 1.2rem + 0.833vw, 2.8rem);
        text-shadow: 0 2px 8px rgba(0,0,0,0.25);
    }
    
    .center-icon {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-60%, -52%);
    }
}

// --------------- cta ---------------
.cta {
    @include abs.fontStyle(button, button2, 500, 1.4, 0, map-get(abs.$colors, primary));
    @each $bp, $width in (large: 29.7rem, medium: 24.5rem, small: 22.5rem) {
        @media (max-width: map-get(abs.$breakpoints, $bp)) {
            width: $width;
        }
    }

    width: 31.3rem;
    border-radius: 5rem;
}

// --------------- cta-sub ---------------
.cta-sub {
    @include abs.fontStyle(button, button2, 500, 1.4, 0, map-get(abs.$colors, primary));
    @include abs.responsivePaddingX(5rem, 5rem, 5rem, 4rem);
    @include abs.responsivePaddingY(1.2rem, 1rem);

    border-radius: 5rem;
    color: map-get(abs.$colors, white);
    transition: all 0.3s ease-in-out;

    &:hover {
        transform: scale(1.05);
    }
}

// --------------- hero--sub ---------------
.hero {
    &--sub {
        height: 85vh;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
    }

    &__bg {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
    }

    &__container--sub {
        @include abs.responsiveMarginTop(8rem, 8rem, 7rem, 7rem);

        position: relative;
        z-index: 3;
    }

    &__title--sub {
        opacity: 1;
    }
}

// --------------- results ---------------
.results {
    &__top {
        height: 100dvh;
    }

    &__title {
        @include abs.fontStyle(title, title2, 700, 1.2, 0, map-get(abs.$colors, navy));

        transform: translateY(10%);
    }

    &__list {
        height: clamp(11.2rem, 9.139rem + 4.303vw, 17.4rem);
        text-align: center;
        transform-origin: top center;

        .text {
            @include abs.fontStyle(title, title2, 700, 1.3, 0, map-get(abs.$colors, navy));

            white-space: nowrap;
        }

        .image {
            will-change: width, height, transform;
            overflow: hidden;
        }

        @media (max-width: 1439px) {
            flex-direction: column;
            margin-top: 8rem;

            .image {
                position: absolute;
                top: 0;
                transform: translateY(-100%);
            }
        }
    }
}

// --------------- liveType ---------------
.liveType {

    &__tab {
        @include abs.fontStyle(button, button1, 700, 1.4, 0, map-get(abs.$colors, gray-100));

        display: flex;
        flex: 1;
        padding-top: 1rem;
        padding-bottom: 1rem;
        border-bottom: 0.2rem solid map-get(abs.$colors, gray-100);

        &::before, &::after {
            content: "";
            flex: 1;
        }
    }

    &__content {
        @include abs.responsiveGap(6rem, 5rem, 6rem);
        @include abs.responsiveMarginTop(-6rem, -5rem, -2rem, -2rem);

        display: none;

        &.on {
            display: flex;
        }
    }

    &__image {
        width: fit-content;
        position: relative;

        .live-image {
            width: clamp(18rem, 16.385rem + 4.487vw, 25rem);
        }
    }

    &__text {
        flex-direction: column;
        align-items: start;
    }

    &__feature {
        width: fit-content;
        padding: 0.8rem 1.5rem;
        margin-bottom: 1.5rem;
        border-radius: 1rem;
    }

    &__title {
        @include abs.fontStyle(title, title5, 700, 1.25, 0, map-get(abs.$colors, navy));

        margin-bottom: 4rem;
    }

    &__desc {
        @include abs.fontStyle(body, body2, 500, 1.4, 0, map-get(abs.$colors, navy));

        margin-bottom: 1.5rem;
    }

    &__subDesc {
        li {
            @include abs.fontStyle(body, body3, 400, 1.45, 0.01em, map-get(abs.$colors, gray-150));
        }
    }

    @media (max-width: map-get(abs.$breakpoints, large)) {

        &__content {
            flex-direction: column;
        }

        .liveType {
            
            &__text {
                align-items: center;
    
                > * {
                    text-align: left;
                }
    
                li {
                    width: fit-content;
                }
            }

            &__desc {
                text-align: center;
            }
        }
        
    }
}

// --------------- guide-card__container ---------------
.guide-card__container {
    display: grid;
    gap: 2.5rem;

    @media (max-width: map-get(abs.$breakpoints, medium)) {
        gap: 1.5rem;
    }

    @media (max-width: 580px) {
        width: 100%;
        display: flex;
        flex-direction: column;
    }
}

// --------------- guide ---------------
.guide-card__container {
    grid-template-columns: repeat(4, 1fr);

    @media (max-width: 1439px) {
        grid-template-rows: repeat(2, 1fr); 
        grid-template-columns: repeat(2, 1fr); 
    }

    @media (max-width: map-get(abs.$breakpoints, small)) {
        grid-template-rows: repeat(4, 1fr); 
    }
}

// --------------- guide-card ---------------
.guide-card {
    aspect-ratio: 3 / 4;
    width: 30rem;
    padding: 4rem 3rem;
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;  
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;  

    &::before {
        content: "";
        position: absolute;
        inset: 0;
        z-index: 1;
        border-radius: 2rem;
    }

    &__text {
        display: flex;
        flex-direction: column;
        gap: 3rem;
        position: relative;
        z-index: 5;
    }

    &__title {
        @include abs.fontStyle(title, title5, 700, 1.25, 0, map-get(abs.$colors, white));
    }

    &__desc {
        @include abs.fontStyle(body, body3, 400, 1.45, 0, map-get(abs.$colors, white));        
    }

    &__button {
        width: fit-content;
        padding: 0.8rem 1.5rem;
        border-radius: 5rem;
        background-color: map-get(abs.$colors, white);
        gap: 0.8rem;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 5;
        transition: all 0.3s ease-in-out;

        i {
            font-size: 2rem;
            color: #ff0000;
        }

        span {
            @include abs.fontStyle(button, button4, 500, 1, 0, map-get(abs.$colors, navy));
        }

        &:hover {
            transform: scale(1.03);
            box-shadow: 0.5rem 0.5rem 1rem rgba(0, 0, 0, 0.3);
        }
    }

    @media (max-width: map-get(abs.$breakpoints, medium)) {
        width: 26rem;
    }

    @media (max-width: 580px) {
        aspect-ratio: auto;
        width: 100%;
        height: 24rem;
        padding: 3rem;

        &__text {
            gap: 1rem;
        }

        &__button {    
            i {
                font-size: 1.8rem;
            }
        }
    }
}

@keyframes rotateAnimation {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(360deg);
    }
}