@use "sass:map";
@use "../abstracts/_bundle.scss" as abs;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

// Bootstrap의 제목 태그에 설정된 기본 margin을 오버라이딩
h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

h1, h2 {
    text-align: center;
}

a {
    text-decoration: none;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

button {
    border: none;
    background-color: transparent;
}

.only-section {
    @include abs.respond-sp(padding-top, $xl: calc(12rem + 7.6rem), $lg: calc(10rem + 7.6rem), $md: calc(8rem + 6rem), $sm: calc(8rem + 5rem));
    @include abs.respond-sp(padding-bottom, spacing-xl);
}

section {
    @include abs.respond-pd-y(spacing-xl);
}

.section-inner {
    @include abs.respond-gap(spacing-xl);

    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container-default {
    @include abs.respond-pd-x($xl: 8rem, $lg: 3.2rem, $md: 1.6rem);

    width: 100%;
    max-width: 1440px;

    @media (max-width: map.get(abs.$breakpoints, lg)) {
        max-width: 960px;
    }
    @media (max-width: map.get(abs.$breakpoints, md)) {
        max-width: 720px;
    }
    @media (max-width: map.get(abs.$breakpoints, sm)) {
        max-width: 440px;
    }
    
}

// .show-* 클래스를 자동 생성
.show {
    @each $bp, $width in abs.$breakpoints {
        &-#{$bp} {
            @include abs.respond-show($width);
        }
    }
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.bg-center {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

// 웹 접근성을 준수하면서(스크린 리더가 해당 dom요소를 읽을 수 있음), 시각적으로는 숨김
.blind {
    position: absolute;
    width: 1px;
    height: 1px;
    white-space: nowrap;
    overflow: hidden;
    margin: -1px;
    clip: rect(0, 0, 0, 0);
    clip-path: inset(50%);
}

.header-under {
    @include abs.respond-sp(padding-top, $xl: calc(15rem + 7.6rem), $lg: calc(12rem + 7.6rem), $md: calc(10rem + 6rem), $sm: calc(8rem + 5rem));

    padding-bottom: 0;
}

.block {
    display: block;
}

.overflow-hidden {
    overflow: hidden;
}
