@use "../abstracts/_bundle.scss" as abs;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

// Bootstrap의 제목 태그에 설정된 기본 margin을 오버라이딩
h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

h1, h2 {
    text-align: center;
}

a {
    text-decoration: none;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

button {
    border: none;
    background-color: transparent;
}

section {
    @include abs.responsivePaddingY();
}

.section-inner {
    @include abs.responsiveGap();

    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container-default {
    @include abs.responsivePaddingX();

    width: 100%;
    max-width: 1440px;

    @media (max-width: map-get(abs.$breakpoints, large)) {
        max-width: 960px;
    }
    @media (max-width: map-get(abs.$breakpoints, medium)) {
        max-width: 720px;
    }
    @media (max-width: map-get(abs.$breakpoints, small)) {
        max-width: 440px;
    }
    
}

.max {
    @each $label, $bp in abs.$breakpoints {
        &-#{$bp} {
            @include abs.responsiveShow($bp);
        }
    }
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.bg-center {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}