@use "../abstracts/_bundle.scss" as abs;

html {
    // 1rem = 10px;
    font-size: 62.5%
}

body {
    font-family: "Pretendard", sans-serif;
}

.section__title {
    @include abs.fontStyle(title, title3, 700, 1.25, -0.01em, map-get(abs.$colors, navy));
} 

a {
    color: transparent;
}

.hero__title--sub {
    @include abs.fontStyle(title, title2, 500, 1.2, -0.01em, map-get(abs.$colors, white));
}

::placeholder, select {
    @include abs.fontStyle(body, body3, 400, 1.45, 0.01em, map-get(abs.$colors, gray));
}