@use "../abstracts/_bundle.scss" as abs;

html {
    // 1rem = 10px;
    font-size: 62.5%
}

body {
    font-family: "Pretendard", sans-serif;
}

h2 {
    @include abs.fontStyle(title, title3, 700, 1.3, 0, map-get(abs.$colors, navy));
} 