@use "../abstracts/_bundle.scss" as abs;

html {
    // 1rem = 10px;
    font-size: 62.5%
}

body {
    font-family: "Pretendard", sans-serif;
}

.section__title {
    @include abs.fontStyle(title, title2, 700, 1.3, 0, map-get(abs.$colors, navy));
} 

a {
    color: transparent;
}

.hero__title--sub {
    @include abs.fontStyle(title, title2, 700, 1.2, -0.01rem, map-get(abs.$colors, white));
}

::placeholder, select {
    @include abs.fontStyle(body, body4, 400, 0, 0, map-get(abs.$colors, gray));
}