@use "sass:map";
@use "./_function.scss" as fn;
@use "./_variables.scss" as vars;

// 반응형별로 font-size를 자동 재정의
@mixin respond-fs($category, $key) {
    font-size: fn.get-fs(xl, $category, $key);

    @each $bp, $width in vars.$breakpoints {
        @media (max-width: $width) {
            font-size: fn.get-fs($bp, $category, $key);
        }
    }
}

// font와 관련된 모든 속성들을 정의
@mixin respond-typo($category, $size, $weight: null, $line-height: null, $letter-spacing: null, $color: null) {
    @include respond-fs($category, $size);

    // null 여부를 체크
    @if $weight { font-weight: $weight; }
    @if $line-height { line-height: $line-height; }
    @if $letter-spacing { letter-spacing: $letter-spacing; }
    @if $color { color: $color; }
}

/* 기본적으로 요소를 숨기고, 지정한 해상도 이하에서만 표시
   display 값은 기본 block이며 인수를 통해 요소마다 다르게 지정 가능
   @content를 통해 지정한 해상도 이하에서 추가 스타일 확장 가능
   지정 해상도는 $breakpoints의 key(lg, md, sm) 뿐만 아니라 px 단위의 숫자(ex) 800px)도 가능 */
@mixin respond-show($bp, $display: block) {
    $max-width: null;

    // $bp가 $breakpoints 맵의 key인지 px 단위의 숫자인지 체크
    @if (map-has-key(vars.$breakpoints, $bp)) {
        $max-width: map.get(vars.$breakpoints, $bp);
    } @else {
        $max-width: $bp;
    }
    
    display: none;

    @media (max-width: $max-width) {
        display: $display;
        @content;
    }
}

// 반응형별로 spacing을 자동 재정의
@mixin respond-sp($prop, $key: null, $xl: null, $lg: null, $md: null, $sm: null) {
    $spacing: null;

    /* $key가 null이 아니며
       $spacings에 xl라는 key가 있으며
       xl 맵에 $key가 존재하는 경우 */
    @if $key and map.get(vars.$spacings, xl) and map-has-key(map.get(vars.$spacings, xl), $key) {
        $spacing: fn.get-sp(xl, $key);
        #{$prop}: $spacing;

        @each $bp, $width in vars.$breakpoints {
            @media (max-width: $width) {
                $spacing: fn.get-sp($bp, $key);
                #{$prop}: $spacing;
            }
        }
    } @else {
        $spacing: $xl;
        #{$prop}: $spacing;

        @each $bp, $size in (lg: $lg, md: $md, sm: $sm) {
            @if $size {
                @media (max-width: map.get(vars.$breakpoints, $bp)) {
                    #{$prop}: $size; 
                }
            }
        }
    }
}

// 반응형별로 margin-left & margin-right를 자동 재정의
@mixin respond-mg-x($key: null, $xl: null, $lg: null, $md: null, $sm: null) {
    @include respond-sp(margin-left, $key, $xl, $lg, $md, $sm);
    @include respond-sp(margin-right, $key, $xl, $lg, $md, $sm);
}

// 반응형별로 margin-top & margin-bottom를 자동 재정의
@mixin respond-mg-y($key: null, $xl: null, $lg: null, $md: null, $sm: null) {
    @include respond-sp(margin-top, $key, $xl, $lg, $md, $sm);
    @include respond-sp(margin-bottom, $key, $xl, $lg, $md, $sm);
}

// 반응형별로 padding-left & padding-right를 자동 재정의
@mixin respond-pd-x($key: null, $xl: null, $lg: null, $md: null, $sm: null) {
    @include respond-sp(padding-left, $key, $xl, $lg, $md, $sm);
    @include respond-sp(padding-right, $key, $xl, $lg, $md, $sm);
}

// 반응형별로 padding-top & padding-bottom를 자동 재정의
@mixin respond-pd-y($key: null, $xl: null, $lg: null, $md: null, $sm: null) {
    @include respond-sp(padding-top, $key, $xl, $lg, $md, $sm);
    @include respond-sp(padding-bottom, $key, $xl, $lg, $md, $sm);
}

// 반응형별로 gap을 자동 재정의
@mixin respond-gap($key: null, $xl: null, $lg: null, $md: null, $sm: null) {
    @include respond-sp(gap, $key, $xl, $lg, $md, $sm);
}

// 반응형별로 width를 자동 재정의
@mixin respond-w($xl: null, $lg: null, $md: null, $sm: null) {
    @if $xl {
        width: $xl;
    }

    @each $bp, $size in (lg: $lg, md: $md, sm: $sm) {
        @if $size {
            @media (max-width: map.get(vars.$breakpoints, $bp)) {
                width: $size;
            }
        }
    }
}

// 반응형별로 height를 자동 재정의
@mixin respond-h($xl: null, $lg: null, $md: null, $sm: null) {
    @if $xl {
        height: $xl;
    }

    @each $bp, $size in (lg: $lg, md: $md, sm: $sm) {
        @if $size {
            @media (max-width: map.get(vars.$breakpoints, $bp)) {
                height: $size;
            }
        }
    }
}

