// --------------- breakpoints ---------------
$breakpoints: (
    lg: 1023px,
    md: 767px,
    sm: 479px
);

// --------------- colors ---------------
$colors: (
    primary: #F7552F,
    primary-hover: #FF7859,
    primary-focus: #E04925,
    navy: #000715,
    gray-50: #F4F5F9,
    gray-100: #C0C0C0,
    gray-150: #4E4E4E,
    blue-50: #D3E8F9,
    blue-100: #2F50F7,
    yellow: #F9F5D3,
    orange: #FF883F,
    red: #FF0000,
    white: #FFFFFF,
    black: #00040C
);

// --------------- spacings ---------------
$tablet-mobile-spacing-xl: 8rem;
$tablet-mobile-spacing-lg: 4rem;

$spacings: (
    xl: (
        spacing-xl: 12rem,
        spacing-lg: 6rem
    ),
    lg: (
        spacing-xl: 10rem,
        spacing-lg: 5rem

    ),
    md: (
        spacing-xl: $tablet-mobile-spacing-xl,
        spacing-lg: $tablet-mobile-spacing-lg

    ),
    sm: (
        spacing-xl: $tablet-mobile-spacing-xl,
        spacing-lg: $tablet-mobile-spacing-lg

    )
);

// --------------- font-size --------------
// ----- title -----
$desktop-laptop-title-sm: 2.6rem;

// ----- body -----
$desktop-laptop-body-lg: 1.8rem;
$desktop-laptop-body-md: 1.6rem;
$tablet-mobile-body-md: 1.4rem;
$tablet-mobile-body-sm: 1.2rem;

// ----- button -----
$desktop-laptop-button-lg: 2rem;
$tablet-mobile-button-xl: 1.8rem;
$desktop-laptop-button-sm: 1.4rem;

// ----- label -----
$desktop-laptop-label-md: 1.8rem;
$tablet-mobile-label-md: 1.6rem;

$font-size: (
    // ---------- xl ----------
    xl: (
        title: (
            title-2xl: 5.4rem,
            title-xl: 4.4rem,
            title-lg: 4.2rem,
            title-md: 3.4rem,
            title-sm: $desktop-laptop-title-sm,
        ),
        
        body: (
            body-xl: 2rem,
            body-lg: $desktop-laptop-body-lg,
            body-md: $desktop-laptop-body-md,
            body-sm: 1.4rem
        ),

        button: (
            button-xl: 2.4rem,
            button-lg: $desktop-laptop-button-lg,
            button-md: 1.6rem,
            button-sm: 1.4rem
        ),

        label: (
            label-md: $desktop-laptop-label-md
        )
    ),

    // ---------- lg ----------
    lg: (
        title: (
            title-2xl: 4.6rem,
            title-xl: 4rem,
            title-lg: 3.8rem,
            title-md: 3rem,
            title-sm: $desktop-laptop-title-sm,
        ),
        
        body: (
            body-xl: 2rem,
            body-lg: $desktop-laptop-body-lg,
            body-md: $desktop-laptop-body-md,
            body-sm: 1.3rem
        ),

        button: (
            button-xl: 2.2rem,
            button-lg: $desktop-laptop-button-lg,
            button-md: 1.6rem,
            button-sm: 1.4rem
        ),

        label: (
            label-md: $desktop-laptop-label-md
        )
    ),

    // ---------- md ----------
    md: (
        title: (
            title-2xl: 4.2rem,
            title-xl: 3.8rem,
            title-lg: 3.6rem,
            title-md: 2.6rem,
            title-sm: 2.4rem,
        ),
        
        body: (
            body-xl: 1.8rem,
            body-lg: 1.6rem,
            body-md: $tablet-mobile-body-md,
            body-sm: $tablet-mobile-body-sm,
        ),

        button: (
            button-xl: $tablet-mobile-button-xl,
            button-lg: 1.8rem,
            button-md: 1.4rem,
            button-sm: 1.3rem
        ),

        label: (
            label-md: $tablet-mobile-label-md
        )
    ),

    // ---------- sm ----------
    sm: (
        title: (
            title-2xl: 3.2rem,
            title-xl: 3rem,
            title-lg: 2.8rem,
            title-md: 2.2rem,
            title-sm: 2.2rem,
        ),
        
        body: (
            body-xl: 1.6rem,
            body-lg: 1.5rem,
            body-md: $tablet-mobile-body-md,
            body-sm: $tablet-mobile-body-sm
        ),

        button: (
            button-xl: $tablet-mobile-button-xl,
            button-lg: 1.6rem,
            button-md: 1.4rem,
            button-sm: 1.2rem
        ),

        label: (
            label-md: $tablet-mobile-label-md
        )
    )
);