@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap");
/* $breakpoint: desktop, laptop, tablet, mobile이 할당됨 
   $category: title, body, button이 할당됨 
   $key: title-lg, title-md, title-sm 등이 할당됨 */
/* 기본적으로 요소를 숨기고, 지정한 해상도 이하에서만 표시
   display 값은 기본 block이며 인수를 통해 요소마다 다르게 지정 가능
   @content를 통해 지정한 해상도 이하에서 추가 스타일 확장 가능
   지정 해상도는 $breakpoints의 key(lg, md, sm) 뿐만 아니라 px 단위의 숫자(ex) 800px)도 가능 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

h1, h2 {
  text-align: center;
}

a {
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

button {
  border: none;
  background-color: transparent;
}

.only-section {
  /* $key가 null이 아니며
     $spacings에 xl라는 key가 있으며
     xl 맵에 $key가 존재하는 경우 */
  padding-top: 19.6rem;
}
@media (max-width: 1023px) {
  .only-section {
    padding-top: 17.6rem;
  }
}
@media (max-width: 767px) {
  .only-section {
    padding-top: 14rem;
  }
}
@media (max-width: 479px) {
  .only-section {
    padding-top: 13rem;
  }
}
.only-section {
  /* $key가 null이 아니며
     $spacings에 xl라는 key가 있으며
     xl 맵에 $key가 존재하는 경우 */
  padding-bottom: 12rem;
}
@media (max-width: 1023px) {
  .only-section {
    padding-bottom: 10rem;
  }
}
@media (max-width: 767px) {
  .only-section {
    padding-bottom: 8rem;
  }
}
@media (max-width: 479px) {
  .only-section {
    padding-bottom: 8rem;
  }
}

section {
  /* $key가 null이 아니며
     $spacings에 xl라는 key가 있으며
     xl 맵에 $key가 존재하는 경우 */
  padding-top: 12rem;
}
@media (max-width: 1023px) {
  section {
    padding-top: 10rem;
  }
}
@media (max-width: 767px) {
  section {
    padding-top: 8rem;
  }
}
@media (max-width: 479px) {
  section {
    padding-top: 8rem;
  }
}
section {
  /* $key가 null이 아니며
     $spacings에 xl라는 key가 있으며
     xl 맵에 $key가 존재하는 경우 */
  padding-bottom: 12rem;
}
@media (max-width: 1023px) {
  section {
    padding-bottom: 10rem;
  }
}
@media (max-width: 767px) {
  section {
    padding-bottom: 8rem;
  }
}
@media (max-width: 479px) {
  section {
    padding-bottom: 8rem;
  }
}

.section-inner {
  /* $key가 null이 아니며
     $spacings에 xl라는 key가 있으며
     xl 맵에 $key가 존재하는 경우 */
  gap: 12rem;
}
@media (max-width: 1023px) {
  .section-inner {
    gap: 10rem;
  }
}
@media (max-width: 767px) {
  .section-inner {
    gap: 8rem;
  }
}
@media (max-width: 479px) {
  .section-inner {
    gap: 8rem;
  }
}
.section-inner {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container-default {
  /* $key가 null이 아니며
     $spacings에 xl라는 key가 있으며
     xl 맵에 $key가 존재하는 경우 */
  padding-left: 8rem;
}
@media (max-width: 1023px) {
  .container-default {
    padding-left: 3.2rem;
  }
}
@media (max-width: 767px) {
  .container-default {
    padding-left: 1.6rem;
  }
}
.container-default {
  /* $key가 null이 아니며
     $spacings에 xl라는 key가 있으며
     xl 맵에 $key가 존재하는 경우 */
  padding-right: 8rem;
}
@media (max-width: 1023px) {
  .container-default {
    padding-right: 3.2rem;
  }
}
@media (max-width: 767px) {
  .container-default {
    padding-right: 1.6rem;
  }
}
.container-default {
  width: 100%;
  max-width: 1440px;
}
@media (max-width: 1023px) {
  .container-default {
    max-width: 960px;
  }
}
@media (max-width: 767px) {
  .container-default {
    max-width: 720px;
  }
}
@media (max-width: 479px) {
  .container-default {
    max-width: 440px;
  }
}

.show-lg {
  display: none;
}
@media (max-width: 1023px) {
  .show-lg {
    display: block;
  }
}
.show-md {
  display: none;
}
@media (max-width: 767px) {
  .show-md {
    display: block;
  }
}
.show-sm {
  display: none;
}
@media (max-width: 479px) {
  .show-sm {
    display: block;
  }
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.bg-center {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.blind {
  position: absolute;
  width: 1px;
  height: 1px;
  white-space: nowrap;
  overflow: hidden;
  margin: -1px;
  clip: rect(0, 0, 0, 0);
  clip-path: inset(50%);
}

.header-under {
  /* $key가 null이 아니며
     $spacings에 xl라는 key가 있으며
     xl 맵에 $key가 존재하는 경우 */
  padding-top: 22.6rem;
}
@media (max-width: 1023px) {
  .header-under {
    padding-top: 19.6rem;
  }
}
@media (max-width: 767px) {
  .header-under {
    padding-top: 16rem;
  }
}
@media (max-width: 479px) {
  .header-under {
    padding-top: 13rem;
  }
}
.header-under {
  padding-bottom: 0;
}

.block {
  display: block;
}

.overflow-hidden {
  overflow: hidden;
}

@font-face {
  font-family: "Pretendard";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Regular.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "Pretendard";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Medium.woff2") format("woff2");
  font-weight: 500;
  font-display: swap;
}
@font-face {
  font-family: "Pretendard";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-display: swap;
}
@font-face {
  font-family: "Pretendard";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Bold.woff2") format("woff2");
  font-weight: 700;
  font-display: swap;
}
.marcellus-regular {
  font-family: "Marcellus", serif;
  font-weight: 400;
  font-style: normal;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Pretendard", sans-serif;
}

.section__title {
  font-size: 4.2rem;
}
@media (max-width: 1023px) {
  .section__title {
    font-size: 3.8rem;
  }
}
@media (max-width: 767px) {
  .section__title {
    font-size: 3.6rem;
  }
}
@media (max-width: 479px) {
  .section__title {
    font-size: 2.8rem;
  }
}
.section__title {
  font-weight: 700;
  line-height: 1.25;
  letter-spacing: -0.01em;
  color: #000715;
}

a {
  color: transparent;
}

.hero__title--sub {
  font-size: 4.4rem;
}
@media (max-width: 1023px) {
  .hero__title--sub {
    font-size: 4rem;
  }
}
@media (max-width: 767px) {
  .hero__title--sub {
    font-size: 3.8rem;
  }
}
@media (max-width: 479px) {
  .hero__title--sub {
    font-size: 3rem;
  }
}
.hero__title--sub {
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: -0.01em;
  color: #FFFFFF;
}

::placeholder, select {
  font-size: 1.6rem;
}
@media (max-width: 1023px) {
  ::placeholder, select {
    font-size: 1.6rem;
  }
}
@media (max-width: 767px) {
  ::placeholder, select {
    font-size: 1.4rem;
  }
}
@media (max-width: 479px) {
  ::placeholder, select {
    font-size: 1.4rem;
  }
}
::placeholder, select {
  font-weight: 400;
  line-height: 1.45;
  letter-spacing: 0.01em;
}

.header {
  /* $key가 null이 아니며
     $spacings에 xl라는 key가 있으며
     xl 맵에 $key가 존재하는 경우 */
  padding-top: 0;
}
@media (max-width: 767px) {
  .header {
    padding-top: 1rem;
  }
}
.header {
  /* $key가 null이 아니며
     $spacings에 xl라는 key가 있으며
     xl 맵에 $key가 존재하는 경우 */
  padding-bottom: 0;
}
@media (max-width: 767px) {
  .header {
    padding-bottom: 1rem;
  }
}
.header {
  top: 0;
  z-index: 10;
  background-color: transparent;
  border-bottom: 0.1rem solid #4E4E4E;
}
.header__container {
  justify-content: space-between;
  margin: 0 auto;
}
.header__logo img {
  width: 20rem;
}
.header__nav-item {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header__nav-link {
  font-size: 1.8rem;
}
@media (max-width: 1023px) {
  .header__nav-link {
    font-size: 1.8rem;
  }
}
@media (max-width: 767px) {
  .header__nav-link {
    font-size: 1.6rem;
  }
}
@media (max-width: 479px) {
  .header__nav-link {
    font-size: 1.5rem;
  }
}
.header__nav-link {
  font-weight: 500;
  line-height: 1.4;
  letter-spacing: 0;
  color: #FFFFFF;
  /* $key가 null이 아니며
     $spacings에 xl라는 key가 있으며
     xl 맵에 $key가 존재하는 경우 */
  padding-left: 2rem;
}
@media (max-width: 1023px) {
  .header__nav-link {
    padding-left: 1rem;
  }
}
.header__nav-link {
  /* $key가 null이 아니며
     $spacings에 xl라는 key가 있으며
     xl 맵에 $key가 존재하는 경우 */
  padding-right: 2rem;
}
@media (max-width: 1023px) {
  .header__nav-link {
    padding-right: 1rem;
  }
}
.header__nav-link {
  color: #FFFFFF;
  position: relative;
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}
.header__nav-link[aria-current=page] {
  color: #F7552F;
}
.header__nav-link::after {
  content: "";
  width: 0;
  height: 0.2rem;
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  background-color: #F7552F;
  transition: all 0.15s ease-in;
}
.header__nav-link:hover::after {
  width: 100%;
  transition: all 0.3s ease-out;
}
.header .hamburger-white {
  display: none;
}
@media (max-width: 767px) {
  .header .hamburger-white {
    display: block;
  }
}
.header .hamburger-black {
  display: none;
}
.header.is-dark {
  border-color: #C0C0C0;
}
.header.is-dark .header__nav-link {
  color: #000715;
}
.header.is-dark .hamburger-white {
  display: none;
}
.header.is-dark .hamburger-black {
  display: none;
}
@media (max-width: 767px) {
  .header.is-dark .hamburger-black {
    display: block;
  }
}
@media (max-width: 767px) {
  .header__logo img {
    width: 16rem;
  }
  .header__nav {
    display: none;
  }
}

.m-nav {
  background-color: #00040C;
}
.m-nav__container {
  margin: 0 auto;
}
.m-nav__container-head {
  /* $key가 null이 아니며
     $spacings에 xl라는 key가 있으며
     xl 맵에 $key가 존재하는 경우 */
  padding-top: 2rem;
}
@media (max-width: 767px) {
  .m-nav__container-head {
    padding-top: 1rem;
  }
}
.m-nav__container-head {
  /* $key가 null이 아니며
     $spacings에 xl라는 key가 있으며
     xl 맵에 $key가 존재하는 경우 */
  padding-bottom: 2rem;
}
@media (max-width: 767px) {
  .m-nav__container-head {
    padding-bottom: 1rem;
  }
}
.m-nav__container-head {
  justify-content: space-between;
}
.m-nav__container-body {
  gap: 4rem;
  flex: 1;
}
.m-nav__container-body a {
  font-size: 2rem;
}
@media (max-width: 1023px) {
  .m-nav__container-body a {
    font-size: 2rem;
  }
}
@media (max-width: 767px) {
  .m-nav__container-body a {
    font-size: 1.8rem;
  }
}
@media (max-width: 479px) {
  .m-nav__container-body a {
    font-size: 1.6rem;
  }
}
.m-nav__container-body a {
  font-weight: 500;
  line-height: 1.4;
  letter-spacing: 0;
  color: #FFFFFF;
  color: #FFFFFF;
}
.m-nav__container-body a:hover {
  color: #F7552F;
}
.m-nav img {
  width: 16rem;
}

.menu-toggle {
  width: 4rem;
  height: 4rem;
  justify-content: end;
}
.menu-toggle img {
  width: 2.5rem;
}
@media (max-width: 479px) {
  .menu-toggle img {
    width: 2rem;
  }
}

.footer {
  /* $key가 null이 아니며
     $spacings에 xl라는 key가 있으며
     xl 맵에 $key가 존재하는 경우 */
  padding-top: 6rem;
}
@media (max-width: 1023px) {
  .footer {
    padding-top: 5rem;
  }
}
@media (max-width: 767px) {
  .footer {
    padding-top: 4rem;
  }
}
@media (max-width: 479px) {
  .footer {
    padding-top: 4rem;
  }
}
.footer {
  /* $key가 null이 아니며
     $spacings에 xl라는 key가 있으며
     xl 맵에 $key가 존재하는 경우 */
  padding-bottom: 6rem;
}
@media (max-width: 1023px) {
  .footer {
    padding-bottom: 5rem;
  }
}
@media (max-width: 767px) {
  .footer {
    padding-bottom: 4rem;
  }
}
@media (max-width: 479px) {
  .footer {
    padding-bottom: 4rem;
  }
}
.footer {
  background-color: #F4F5F9;
}
.footer__container {
  flex-direction: row;
  justify-content: space-between;
  align-items: start;
}
.footer .icon__container {
  width: fit-content;
  gap: 4rem;
}
.footer .content {
  display: flex;
}
.footer .content__top {
  gap: 11rem;
}
.footer .content__bottom {
  flex-direction: column;
  gap: 1.2rem;
}
.footer .content > div {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}
.footer__desc {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.5;
  color: #4E4E4E;
}
@media (max-width: 1440px) {
  .footer__container {
    width: fit-content;
    flex-direction: column;
    gap: 5rem;
    margin: 0 auto;
  }
  .footer .content {
    gap: 0;
  }
  .footer .content__left {
    width: 35.4rem;
  }
  .footer .content__top {
    flex-direction: row;
  }
  .footer .content__top > div {
    align-items: start;
  }
  .footer .content__bottom {
    width: 100%;
    flex-direction: row;
  }
}
@media (max-width: 767px) {
  .footer__container {
    align-items: start;
    margin: 0;
  }
  .footer .content__left {
    width: fit-content;
  }
  .footer .content__top {
    gap: 4rem;
  }
  .footer .content__bottom {
    flex-direction: column;
    gap: 1.2rem;
  }
}
@media (max-width: 479px) {
  .footer .content__top {
    flex-direction: column;
    gap: 4rem;
  }
}

.floating-btn {
  position: fixed;
  right: 1%;
  bottom: 2%;
  z-index: 100;
}
.floating-btn svg {
  width: clamp(6rem, 5.077rem + 2.564vw, 10rem);
  height: clamp(6rem, 5.077rem + 2.564vw, 10rem);
  animation: rotateAnimation 8s linear infinite;
}
.floating-btn text, .floating-btn i {
  text-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
}
.floating-btn text {
  font-size: 0.9rem;
  letter-spacing: 0.025rem;
  fill: #FFFFFF;
  stroke: #333;
  stroke-width: 0.3px;
}
.floating-btn i {
  color: #FFFFFF;
  font-size: clamp(1.5rem, 1.2rem + 0.833vw, 2.8rem);
  text-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
}
.floating-btn .center-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-60%, -52%);
}

.cta {
  font-size: 2rem;
}
@media (max-width: 1023px) {
  .cta {
    font-size: 2rem;
  }
}
@media (max-width: 767px) {
  .cta {
    font-size: 1.8rem;
  }
}
@media (max-width: 479px) {
  .cta {
    font-size: 1.6rem;
  }
}
.cta {
  font-weight: 500;
  line-height: 1.4;
  letter-spacing: 0;
  color: #F7552F;
}
@media (max-width: 1023px) {
  .cta {
    width: 29.7rem;
  }
}
@media (max-width: 767px) {
  .cta {
    width: 24.5rem;
  }
}
@media (max-width: 479px) {
  .cta {
    width: 22.5rem;
  }
}
.cta {
  width: 31.3rem;
  border-radius: 5rem;
}

.cta-sub {
  font-size: 2rem;
}
@media (max-width: 1023px) {
  .cta-sub {
    font-size: 2rem;
  }
}
@media (max-width: 767px) {
  .cta-sub {
    font-size: 1.8rem;
  }
}
@media (max-width: 479px) {
  .cta-sub {
    font-size: 1.6rem;
  }
}
.cta-sub {
  font-weight: 500;
  line-height: 1.4;
  letter-spacing: 0;
  color: #F7552F;
  /* $key가 null이 아니며
     $spacings에 xl라는 key가 있으며
     xl 맵에 $key가 존재하는 경우 */
  padding-left: 5rem;
}
@media (max-width: 479px) {
  .cta-sub {
    padding-left: 4rem;
  }
}
.cta-sub {
  /* $key가 null이 아니며
     $spacings에 xl라는 key가 있으며
     xl 맵에 $key가 존재하는 경우 */
  padding-right: 5rem;
}
@media (max-width: 479px) {
  .cta-sub {
    padding-right: 4rem;
  }
}
.cta-sub {
  /* $key가 null이 아니며
     $spacings에 xl라는 key가 있으며
     xl 맵에 $key가 존재하는 경우 */
  padding-top: 1.2rem;
}
@media (max-width: 1023px) {
  .cta-sub {
    padding-top: 1rem;
  }
}
.cta-sub {
  /* $key가 null이 아니며
     $spacings에 xl라는 key가 있으며
     xl 맵에 $key가 존재하는 경우 */
  padding-bottom: 1.2rem;
}
@media (max-width: 1023px) {
  .cta-sub {
    padding-bottom: 1rem;
  }
}
.cta-sub {
  border-radius: 5rem;
  color: #FFFFFF;
  transition: all 0.3s ease-in-out;
}
.cta-sub:hover {
  transform: scale(1.05);
}

.hero--sub {
  height: 85vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.hero--sub::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  inset: 0;
  z-index: 1;
}
.hero__container--sub {
  /* $key가 null이 아니며
     $spacings에 xl라는 key가 있으며
     xl 맵에 $key가 존재하는 경우 */
  margin-top: 8rem;
}
@media (max-width: 767px) {
  .hero__container--sub {
    margin-top: 7rem;
  }
}
.hero__container--sub {
  position: relative;
  z-index: 2;
}
.hero__title--sub {
  opacity: 1;
}

.results__top {
  height: 100dvh;
}
.results__title {
  font-size: 4.4rem;
}
@media (max-width: 1023px) {
  .results__title {
    font-size: 4rem;
  }
}
@media (max-width: 767px) {
  .results__title {
    font-size: 3.8rem;
  }
}
@media (max-width: 479px) {
  .results__title {
    font-size: 3rem;
  }
}
.results__title {
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: 0;
  color: #000715;
  transform: translateY(10%);
}
.results__list {
  height: clamp(11.2rem, 9.139rem + 4.303vw, 17.4rem);
  text-align: center;
  transform-origin: top center;
}
.results__list .text {
  font-size: 4.4rem;
}
@media (max-width: 1023px) {
  .results__list .text {
    font-size: 4rem;
  }
}
@media (max-width: 767px) {
  .results__list .text {
    font-size: 3.8rem;
  }
}
@media (max-width: 479px) {
  .results__list .text {
    font-size: 3rem;
  }
}
.results__list .text {
  font-weight: 700;
  line-height: 1.3;
  letter-spacing: 0;
  color: #000715;
  white-space: nowrap;
}
.results__list .image {
  will-change: width, height, transform;
  overflow: hidden;
}
@media (max-width: 1439px) {
  .results__list {
    flex-direction: column;
    margin-top: 8rem;
  }
  .results__list .image {
    position: absolute;
    top: 0;
    transform: translateY(-100%);
  }
}

.liveType__tab {
  font-size: 2.4rem;
}
@media (max-width: 1023px) {
  .liveType__tab {
    font-size: 2.2rem;
  }
}
@media (max-width: 767px) {
  .liveType__tab {
    font-size: 1.8rem;
  }
}
@media (max-width: 479px) {
  .liveType__tab {
    font-size: 1.8rem;
  }
}
.liveType__tab {
  font-weight: 700;
  line-height: 1.4;
  letter-spacing: 0;
  color: #C0C0C0;
  display: flex;
  flex: 1;
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-bottom: 0.2rem solid #C0C0C0;
}
.liveType__tab::before, .liveType__tab::after {
  content: "";
  flex: 1;
}
.liveType__content {
  /* $key가 null이 아니며
     $spacings에 xl라는 key가 있으며
     xl 맵에 $key가 존재하는 경우 */
  gap: 6rem;
}
@media (max-width: 1023px) {
  .liveType__content {
    gap: 5rem;
  }
}
@media (max-width: 767px) {
  .liveType__content {
    gap: 6rem;
  }
}
.liveType__content {
  /* $key가 null이 아니며
     $spacings에 xl라는 key가 있으며
     xl 맵에 $key가 존재하는 경우 */
  margin-top: -6rem;
}
@media (max-width: 1023px) {
  .liveType__content {
    margin-top: -5rem;
  }
}
@media (max-width: 767px) {
  .liveType__content {
    margin-top: -2rem;
  }
}
.liveType__image {
  width: fit-content;
  position: relative;
}
.liveType__image .live-image {
  width: clamp(18rem, 16.385rem + 4.487vw, 25rem);
}
.liveType__text {
  flex-direction: column;
  align-items: start;
}
.liveType__feature {
  width: fit-content;
  padding: 0.8rem 1.5rem;
  margin-bottom: 1.5rem;
  border-radius: 1rem;
}
.liveType__title {
  font-size: 2.6rem;
}
@media (max-width: 1023px) {
  .liveType__title {
    font-size: 2.6rem;
  }
}
@media (max-width: 767px) {
  .liveType__title {
    font-size: 2.4rem;
  }
}
@media (max-width: 479px) {
  .liveType__title {
    font-size: 2.2rem;
  }
}
.liveType__title {
  font-weight: 700;
  line-height: 1.25;
  letter-spacing: 0;
  color: #000715;
  margin-bottom: 4rem;
}
.liveType__desc {
  font-size: 1.8rem;
}
@media (max-width: 1023px) {
  .liveType__desc {
    font-size: 1.8rem;
  }
}
@media (max-width: 767px) {
  .liveType__desc {
    font-size: 1.6rem;
  }
}
@media (max-width: 479px) {
  .liveType__desc {
    font-size: 1.5rem;
  }
}
.liveType__desc {
  font-weight: 500;
  line-height: 1.4;
  letter-spacing: 0;
  color: #000715;
  margin-bottom: 1.5rem;
}
.liveType__subDesc li {
  font-size: 1.6rem;
}
@media (max-width: 1023px) {
  .liveType__subDesc li {
    font-size: 1.6rem;
  }
}
@media (max-width: 767px) {
  .liveType__subDesc li {
    font-size: 1.4rem;
  }
}
@media (max-width: 479px) {
  .liveType__subDesc li {
    font-size: 1.4rem;
  }
}
.liveType__subDesc li {
  font-weight: 400;
  line-height: 1.45;
  letter-spacing: 0.01em;
  color: #4E4E4E;
}
@media (max-width: 1023px) {
  .liveType__content {
    flex-direction: column;
  }
  .liveType .liveType__text {
    align-items: center;
  }
  .liveType .liveType__text > * {
    text-align: left;
  }
  .liveType .liveType__text li {
    width: fit-content;
  }
  .liveType .liveType__desc {
    text-align: center;
  }
}

.guide-card__container {
  display: grid;
  gap: 2.5rem;
}
@media (max-width: 767px) {
  .guide-card__container {
    gap: 1.5rem;
  }
}
@media (max-width: 580px) {
  .guide-card__container {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
}

.guide-card__container {
  grid-template-columns: repeat(4, 1fr);
}
@media (max-width: 1439px) {
  .guide-card__container {
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 479px) {
  .guide-card__container {
    grid-template-rows: repeat(4, 1fr);
  }
}

.guide-card {
  aspect-ratio: 3/4;
  width: 30rem;
  padding: 4rem 3rem;
  border-radius: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.guide-card::before {
  content: "";
  position: absolute;
  inset: 0;
  z-index: 1;
  border-radius: 2rem;
}
.guide-card__text {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  position: relative;
  z-index: 5;
}
.guide-card__title {
  font-size: 2.6rem;
}
@media (max-width: 1023px) {
  .guide-card__title {
    font-size: 2.6rem;
  }
}
@media (max-width: 767px) {
  .guide-card__title {
    font-size: 2.4rem;
  }
}
@media (max-width: 479px) {
  .guide-card__title {
    font-size: 2.2rem;
  }
}
.guide-card__title {
  font-weight: 700;
  line-height: 1.25;
  letter-spacing: 0;
  color: #FFFFFF;
}
.guide-card__desc {
  font-size: 1.6rem;
}
@media (max-width: 1023px) {
  .guide-card__desc {
    font-size: 1.6rem;
  }
}
@media (max-width: 767px) {
  .guide-card__desc {
    font-size: 1.4rem;
  }
}
@media (max-width: 479px) {
  .guide-card__desc {
    font-size: 1.4rem;
  }
}
.guide-card__desc {
  font-weight: 400;
  line-height: 1.45;
  letter-spacing: 0;
  color: #FFFFFF;
}
.guide-card__button {
  width: fit-content;
  padding: 0.8rem 1.5rem;
  border-radius: 5rem;
  background-color: #FFFFFF;
  gap: 0.8rem;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 5;
  transition: all 0.3s ease-in-out;
}
.guide-card__button i {
  font-size: 2rem;
  color: #ff0000;
}
.guide-card__button span {
  font-size: 1.4rem;
}
@media (max-width: 1023px) {
  .guide-card__button span {
    font-size: 1.4rem;
  }
}
@media (max-width: 767px) {
  .guide-card__button span {
    font-size: 1.3rem;
  }
}
@media (max-width: 479px) {
  .guide-card__button span {
    font-size: 1.2rem;
  }
}
.guide-card__button span {
  font-weight: 500;
  line-height: 1;
  letter-spacing: 0;
  color: #000715;
}
.guide-card__button:hover {
  transform: scale(1.03);
  box-shadow: 0.5rem 0.5rem 1rem rgba(0, 0, 0, 0.3);
}
@media (max-width: 767px) {
  .guide-card {
    width: 26rem;
  }
}
@media (max-width: 580px) {
  .guide-card {
    aspect-ratio: auto;
    width: 100%;
    height: 24rem;
    padding: 3rem;
  }
  .guide-card__text {
    gap: 1rem;
  }
  .guide-card__button i {
    font-size: 1.8rem;
  }
}

@keyframes rotateAnimation {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}/*# sourceMappingURL=bundle.css.map */