@charset "UTF-8";
/* $breakpoint: desktop, laptop, tablet, mobile이 할당됨 
   $category: title, body, button이 할당됨 
   $key: title-lg, title-md, title-sm 등이 할당됨 */
/* 기본적으로 요소를 숨기고, 지정한 해상도 이하에서만 표시
   display 값은 기본 block이며 인수를 통해 요소마다 다르게 지정 가능
   @content를 통해 지정한 해상도 이하에서 추가 스타일 확장 가능
   지정 해상도는 $breakpoints의 key(lg, md, sm) 뿐만 아니라 px 단위의 숫자(ex) 800px)도 가능 */
.hero--index {
  background-color: #000715;
}
.hero * {
  text-align: center;
}
.hero__container {
  /* $key가 null이 아니며
     $spacings에 xl라는 key가 있으며
     xl 맵에 $key가 존재하는 경우 */
  gap: 6rem;
}
@media (max-width: 1023px) {
  .hero__container {
    gap: 5rem;
  }
}
@media (max-width: 767px) {
  .hero__container {
    gap: 4rem;
  }
}
@media (max-width: 479px) {
  .hero__container {
    gap: 4rem;
  }
}
.hero__title {
  font-size: 5.4rem;
}
@media (max-width: 1023px) {
  .hero__title {
    font-size: 4.6rem;
  }
}
@media (max-width: 767px) {
  .hero__title {
    font-size: 4.2rem;
  }
}
@media (max-width: 479px) {
  .hero__title {
    font-size: 3.2rem;
  }
}
.hero__title {
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: -0.01em;
  color: #FFFFFF;
  opacity: 0;
}
.hero__title--highlight {
  font-weight: 700;
  color: #F7552F;
}
.hero .cta-group {
  /* $key가 null이 아니며
     $spacings에 xl라는 key가 있으며
     xl 맵에 $key가 존재하는 경우 */
  gap: 6rem;
}
@media (max-width: 1023px) {
  .hero .cta-group {
    gap: 3rem;
  }
}
@media (max-width: 767px) {
  .hero .cta-group {
    gap: 2rem;
  }
}
@media (max-width: 479px) {
  .hero .cta-group {
    gap: 1.5rem;
  }
}
.hero .cta-group .hero__cta {
  opacity: 0;
  transition: background-color 0.3s ease-in-out;
}
.hero .cta-group .hero__cta--seller {
  color: #FFFFFF;
  background-color: #F7552F;
}
.hero .cta-group .hero__cta--seller:hover {
  background-color: #FF7859;
}
.hero .cta-group .hero__cta--seller:focus-visible {
  background-color: #E04925;
}
.hero .cta-group .hero__cta--creator {
  box-shadow: inset 0 0 0 0.2rem #F7552F;
}
.hero .cta-group .hero__cta--creator:hover {
  background-color: rgba(255, 120, 89, 0.2);
}
.hero .cta-group .hero__cta--creator:focus-visible {
  background-color: rgba(224, 73, 37, 0.3);
}
.hero .marquee {
  opacity: 0;
  will-change: transform;
}
.hero .marquee__track {
  width: max-content;
  gap: 1.5rem;
}
.hero .marquee__item > img {
  display: block;
  width: clamp(20rem, 18.846rem + 3.205vw, 25rem);
}

.vision * {
  text-align: center;
}
.vision__container {
  max-width: 1440px;
}
.vision__container > * {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.vision__top {
  height: 100dvh;
}
.vision__title {
  font-size: clamp(3.6rem, 2.931rem + 1.859vw, 6.5rem);
}
.vision__image {
  width: 35rem;
}
@media (max-width: 1023px) {
  .vision__image {
    width: 31rem;
  }
}
@media (max-width: 767px) {
  .vision__image {
    width: 25rem;
  }
}
.vision__image {
  height: 50rem;
}
@media (max-width: 1023px) {
  .vision__image {
    height: 42rem;
  }
}
@media (max-width: 767px) {
  .vision__image {
    height: 35rem;
  }
}
.vision__image {
  background-image: url("../../images/vision_image.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 50rem;
}
.vision__desc {
  font-size: 1.8rem;
}
@media (max-width: 1023px) {
  .vision__desc {
    font-size: 1.8rem;
  }
}
@media (max-width: 767px) {
  .vision__desc {
    font-size: 1.6rem;
  }
}
@media (max-width: 479px) {
  .vision__desc {
    font-size: 1.5rem;
  }
}
.vision__desc {
  font-weight: 400;
  line-height: 1.4;
  letter-spacing: 0;
  color: #000715;
  opacity: 1;
}
@media (max-width: 479px) {
  .vision__desc .no-mobile {
    display: none;
  }
}

.difference {
  /* $key가 null이 아니며
     $spacings에 xl라는 key가 있으며
     xl 맵에 $key가 존재하는 경우 */
  padding-left: 8rem;
}
@media (max-width: 1023px) {
  .difference {
    padding-left: 3.2rem;
  }
}
@media (max-width: 767px) {
  .difference {
    padding-left: 1.6rem;
  }
}
.difference {
  /* $key가 null이 아니며
     $spacings에 xl라는 key가 있으며
     xl 맵에 $key가 존재하는 경우 */
  padding-right: 8rem;
}
@media (max-width: 1023px) {
  .difference {
    padding-right: 3.2rem;
  }
}
@media (max-width: 767px) {
  .difference {
    padding-right: 1.6rem;
  }
}
.difference * {
  text-align: center;
}
.difference__container {
  gap: 0;
}
.difference__contents {
  /* $key가 null이 아니며
     $spacings에 xl라는 key가 있으며
     xl 맵에 $key가 존재하는 경우 */
  padding-top: 6rem;
}
@media (max-width: 1023px) {
  .difference__contents {
    padding-top: 5rem;
  }
}
@media (max-width: 767px) {
  .difference__contents {
    padding-top: 4rem;
  }
}
@media (max-width: 479px) {
  .difference__contents {
    padding-top: 4rem;
  }
}
.difference__contents {
  padding-bottom: 0;
}
.difference__item {
  /* $key가 null이 아니며
     $spacings에 xl라는 key가 있으며
     xl 맵에 $key가 존재하는 경우 */
  gap: 6rem;
}
@media (max-width: 1023px) {
  .difference__item {
    gap: 3rem;
  }
}
@media (max-width: 767px) {
  .difference__item {
    gap: 4rem;
  }
}
.difference__item {
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 3rem;
  position: absolute;
  inset: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  will-change: transform;
}
.difference__item--01 {
  background-image: url("../../images/difference_01.webp");
}
.difference__item--02 {
  background-image: url("../../images/difference_02.webp");
}
.difference__item--03 {
  background-image: url("../../images/difference_03.webp");
}
.difference__item-title {
  font-size: 3.4rem;
}
@media (max-width: 1023px) {
  .difference__item-title {
    font-size: 3rem;
  }
}
@media (max-width: 767px) {
  .difference__item-title {
    font-size: 2.6rem;
  }
}
@media (max-width: 479px) {
  .difference__item-title {
    font-size: 2.2rem;
  }
}
.difference__item-title {
  font-weight: 700;
  line-height: 1.3;
  letter-spacing: 0;
  color: #FFFFFF;
}
.difference__item-desc {
  font-size: 2rem;
}
@media (max-width: 1023px) {
  .difference__item-desc {
    font-size: 2rem;
  }
}
@media (max-width: 767px) {
  .difference__item-desc {
    font-size: 1.8rem;
  }
}
@media (max-width: 479px) {
  .difference__item-desc {
    font-size: 1.6rem;
  }
}
.difference__item-desc {
  font-weight: 400;
  line-height: 1.4;
  letter-spacing: 0;
  color: #FFFFFF;
}
.difference__item-title, .difference__item-desc {
  position: relative;
  z-index: 5;
}
.difference__item::before {
  content: "";
  background: rgba(0, 0, 0, 0.5);
  border-radius: 3rem;
  position: absolute;
  inset: 0;
  z-index: 4;
}
.difference .scroll-indicator {
  position: absolute;
  left: 50%;
  bottom: 5%;
  z-index: 10;
  transform: translateX(-50%);
  flex-direction: column;
}
.difference .scroll-indicator span {
  font-size: 1.4rem;
}
@media (max-width: 1023px) {
  .difference .scroll-indicator span {
    font-size: 1.3rem;
  }
}
@media (max-width: 767px) {
  .difference .scroll-indicator span {
    font-size: 1.2rem;
  }
}
@media (max-width: 479px) {
  .difference .scroll-indicator span {
    font-size: 1.2rem;
  }
}
.difference .scroll-indicator span {
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.01em;
  color: #C0C0C0;
  margin-bottom: 0.4rem;
}
.difference .scroll-indicator .scroll-icon {
  width: 2rem;
  height: 3.5rem;
  border-radius: 5rem;
  border: 0.2rem solid #C0C0C0;
  background-color: transparent;
  position: relative;
}
.difference .scroll-indicator .scroll-icon::before {
  content: "";
  width: 0.1rem;
  height: 20%;
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translateX(-50%);
  background-color: #C0C0C0;
  animation: scrollIndicatorAnimation 1.5s ease-in-out 0.5s infinite;
}

.explore {
  background-color: #00040C;
}
.explore * {
  color: #FFFFFF;
}
@media (max-width: 1023px) {
  .explore__contents {
    flex-direction: column;
  }
}
.explore__contents > * {
  height: 90vh;
}
@media (max-width: 1023px) {
  .explore__contents > * {
    height: 50vh;
  }
}
.explore__contents > * {
  padding: 6rem;
}
@media (max-width: 1023px) {
  .explore__contents > * {
    padding: 5rem;
  }
}
@media (max-width: 767px) {
  .explore__contents > * {
    padding: 4rem;
  }
}
.explore__contents > * {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.explore__contents > *::before {
  content: "";
  position: absolute;
  inset: 0;
  z-index: 1;
}
.explore__seller {
  clip-path: polygon(0% 0%, 60% 0%, 40% 100%, 0% 100%);
  background-image: url("../../images/explore_seller.webp");
}
@media (max-width: 1023px) {
  .explore__seller {
    clip-path: none;
  }
}
.explore__seller::before {
  clip-path: polygon(0% 0%, 60% 0%, 40% 100%, 0% 100%);
  background: rgba(0, 0, 0, 0.7);
}
@media (max-width: 1023px) {
  .explore__seller::before {
    clip-path: none;
  }
}
.explore__creator {
  position: absolute;
  inset: 0;
  clip-path: polygon(60% 0%, 100% 0%, 100% 100%, 40% 100%);
  background-image: url("../../images/explore_creator.webp");
}
@media (max-width: 1023px) {
  .explore__creator {
    top: 50%;
    left: 0;
    clip-path: none;
  }
}
.explore__creator::before {
  clip-path: polygon(60% 0%, 100% 0%, 100% 100%, 40% 100%);
  background: rgba(0, 0, 0, 0.65);
}
@media (max-width: 1023px) {
  .explore__creator::before {
    clip-path: none;
  }
}
.explore__creator-text {
  right: 6rem;
  bottom: 6rem;
}
@media (max-width: 1023px) {
  .explore__creator-text {
    right: 5rem;
    bottom: 5rem;
  }
}
@media (max-width: 767px) {
  .explore__creator-text {
    right: 4rem;
    bottom: 4rem;
  }
}
.explore__text {
  /* $key가 null이 아니며
     $spacings에 xl라는 key가 있으며
     xl 맵에 $key가 존재하는 경우 */
  gap: 3rem;
}
@media (max-width: 1023px) {
  .explore__text {
    gap: 2.5rem;
  }
}
@media (max-width: 767px) {
  .explore__text {
    gap: 2rem;
  }
}
.explore__text {
  display: flex;
  flex-direction: column;
}
.explore__desc {
  font-size: 2rem;
}
@media (max-width: 1023px) {
  .explore__desc {
    font-size: 2rem;
  }
}
@media (max-width: 767px) {
  .explore__desc {
    font-size: 1.8rem;
  }
}
@media (max-width: 479px) {
  .explore__desc {
    font-size: 1.6rem;
  }
}
.explore__desc {
  font-weight: 500;
  line-height: 1.4;
  letter-spacing: 0;
  color: #FFFFFF;
}
.explore__cta {
  font-size: 1.6rem;
}
@media (max-width: 1023px) {
  .explore__cta {
    font-size: 1.6rem;
  }
}
@media (max-width: 767px) {
  .explore__cta {
    font-size: 1.4rem;
  }
}
@media (max-width: 479px) {
  .explore__cta {
    font-size: 1.4rem;
  }
}
.explore__cta {
  font-weight: 500;
  line-height: 1.45;
  letter-spacing: 0.01em;
  color: #FFFFFF;
  /* $key가 null이 아니며
     $spacings에 xl라는 key가 있으며
     xl 맵에 $key가 존재하는 경우 */
  padding-left: 2rem;
}
@media (max-width: 479px) {
  .explore__cta {
    padding-left: 1.5rem;
  }
}
.explore__cta {
  /* $key가 null이 아니며
     $spacings에 xl라는 key가 있으며
     xl 맵에 $key가 존재하는 경우 */
  padding-right: 2rem;
}
@media (max-width: 479px) {
  .explore__cta {
    padding-right: 1.5rem;
  }
}
.explore__cta {
  /* $key가 null이 아니며
     $spacings에 xl라는 key가 있으며
     xl 맵에 $key가 존재하는 경우 */
  padding-top: 1rem;
}
@media (max-width: 479px) {
  .explore__cta {
    padding-top: 0.8rem;
  }
}
.explore__cta {
  /* $key가 null이 아니며
     $spacings에 xl라는 key가 있으며
     xl 맵에 $key가 존재하는 경우 */
  padding-bottom: 1rem;
}
@media (max-width: 479px) {
  .explore__cta {
    padding-bottom: 0.8rem;
  }
}
.explore__cta {
  /* $key가 null이 아니며
     $spacings에 xl라는 key가 있으며
     xl 맵에 $key가 존재하는 경우 */
  gap: 1rem;
}
@media (max-width: 767px) {
  .explore__cta {
    gap: 0.5rem;
  }
}
.explore__cta {
  width: fit-content;
  display: flex;
  align-items: center;
  border: 0.15rem solid #FFFFFF;
  border-radius: 5rem;
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  transition: all 0.3s ease-in-out;
}
.explore__cta:hover {
  background-color: rgba(255, 255, 255, 0.35);
}
.explore__cta:focus-visible {
  border-width: 0.2rem;
}

.review__contents {
  /* $key가 null이 아니며
     $spacings에 xl라는 key가 있으며
     xl 맵에 $key가 존재하는 경우 */
  gap: 3rem;
}
@media (max-width: 479px) {
  .review__contents {
    gap: 1.5rem;
  }
}
.review .reviewSwiper__slide {
  aspect-ratio: 3/4;
  height: 50rem;
  position: relative;
}
.review .reviewSwiper__slide::before {
  content: "";
  position: absolute;
  inset: 0;
  z-index: 1;
  border-radius: 2rem;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 7, 21, 0.7));
}
.review .reviewSwiper__slide .image-wrapper {
  width: 100%;
  height: 100%;
  border-radius: 2rem;
  overflow: hidden;
}
.review .reviewSwiper__slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 0.3s ease-in-out;
}
.review .reviewSwiper__slide:hover img {
  transform: scale(1.1);
}
.review .reviewSwiper__slide-play {
  border: none;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 2;
  transform: translate(-50%, -50%);
  background-color: transparent;
}
.review .reviewSwiper__slide-play > i::before {
  font-size: 4.4rem;
  color: rgba(255, 255, 255, 0.5);
  transition: all 0.3s ease-in-out;
}
.review .reviewSwiper__slide-play:hover > i::before {
  color: rgb(255, 255, 255);
}
.review .reviewSwiper__slide-text {
  position: absolute;
  left: 2.5rem;
  bottom: 2rem;
  z-index: 2;
}
.review .reviewSwiper__slide-label {
  font-size: 1.8rem;
}
@media (max-width: 1023px) {
  .review .reviewSwiper__slide-label {
    font-size: 1.8rem;
  }
}
@media (max-width: 767px) {
  .review .reviewSwiper__slide-label {
    font-size: 1.6rem;
  }
}
@media (max-width: 479px) {
  .review .reviewSwiper__slide-label {
    font-size: 1.6rem;
  }
}
.review .reviewSwiper__slide-label {
  font-weight: 500;
  line-height: 1.45;
  letter-spacing: 0;
  color: #FF883F;
  width: fit-content;
  padding: 0.5rem 1.5rem;
  border-radius: 5rem;
  box-shadow: inset 0 0 0 0.2rem;
}
.review .reviewSwiper__slide-title {
  font-size: 2.6rem;
}
@media (max-width: 1023px) {
  .review .reviewSwiper__slide-title {
    font-size: 2.6rem;
  }
}
@media (max-width: 767px) {
  .review .reviewSwiper__slide-title {
    font-size: 2.4rem;
  }
}
@media (max-width: 479px) {
  .review .reviewSwiper__slide-title {
    font-size: 2.2rem;
  }
}
.review .reviewSwiper__slide-title {
  font-weight: 700;
  line-height: 1.25;
  letter-spacing: 0;
  color: #FFFFFF;
  margin-top: 1.5rem;
  margin-bottom: 3rem;
}
.review .reviewSwiper__slide-author {
  font-size: 1.4rem;
}
@media (max-width: 1023px) {
  .review .reviewSwiper__slide-author {
    font-size: 1.3rem;
  }
}
@media (max-width: 767px) {
  .review .reviewSwiper__slide-author {
    font-size: 1.2rem;
  }
}
@media (max-width: 479px) {
  .review .reviewSwiper__slide-author {
    font-size: 1.2rem;
  }
}
.review .reviewSwiper__slide-author {
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.01em;
  color: #C0C0C0;
}

.swiper-button-prev, .swiper-button-next {
  color: #00040C;
}

.modal-body {
  padding-bottom: 56.25%;
  height: 0;
}

@keyframes tiltAnimation {
  0% {
    transform: rotate(0) rotateX(0) rotateY(0) skewX(0) skewY(10);
  }
  100% {
    transform: rotate(-32deg) rotateX(26deg) rotateY(25deg) skewX(8deg) skewY(11deg);
  }
}
@keyframes marqueeAnimation {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-33.3333333333%);
  }
}
@keyframes scrollIndicatorAnimation {
  0% {
    top: 20%;
    height: 20%;
    opacity: 1;
  }
  50% {
    top: 20%;
    height: 60%;
    opacity: 1;
  }
  100% {
    top: 80%;
    height: 0;
    opacity: 0;
  }
}/*# sourceMappingURL=index.css.map */