* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

a {
  text-decoration: none;
}

section {
  padding-top: 12rem;
  padding-bottom: 12rem;
}
@media (max-width: 1023px) {
  section {
    padding-top: 10rem;
    padding-bottom: 10rem;
  }
}
@media (max-width: 767px) {
  section {
    padding-top: 8rem;
    padding-bottom: 8rem;
  }
}
@media (max-width: 479px) {
  section {
    padding-top: 8rem;
    padding-bottom: 8rem;
  }
}

.section-inner {
  gap: 12rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media (max-width: 1023px) {
  .section-inner {
    gap: 10rem;
  }
}
@media (max-width: 767px) {
  .section-inner {
    gap: 8rem;
  }
}
@media (max-width: 479px) {
  .section-inner {
    gap: 8rem;
  }
}

.max-1023px {
  display: none;
}
@media (max-width: 1023px) {
  .max-1023px {
    display: block;
  }
}
.max-767px {
  display: none;
}
@media (max-width: 767px) {
  .max-767px {
    display: block;
  }
}
.max-479px {
  display: none;
}
@media (max-width: 479px) {
  .max-479px {
    display: block;
  }
}

@font-face {
  font-family: "Pretendard";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Regular.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "Pretendard";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Medium.woff2") format("woff2");
  font-weight: 500;
  font-display: swap;
}
@font-face {
  font-family: "Pretendard";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-display: swap;
}
@font-face {
  font-family: "Pretendard";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Bold.woff2") format("woff2");
  font-weight: 700;
  font-display: swap;
}
html {
  font-size: 62.5%;
}

body {
  font-family: "Pretendard", sans-serif;
}

h2 {
  font-size: 5.4rem;
  font-weight: 700;
  line-height: 1.3;
  letter-spacing: 0;
  color: #000715;
}
@media (max-width: 1023px) {
  h2 {
    font-size: 4.5rem;
  }
}
@media (max-width: 767px) {
  h2 {
    font-size: 3.6rem;
  }
}
@media (max-width: 479px) {
  h2 {
    font-size: 2.8rem;
  }
}

.cta {
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 1.4;
  letter-spacing: 0rem;
  color: #F7552F;
  width: 31.3rem;
  border-radius: 5rem;
}
@media (max-width: 1023px) {
  .cta {
    width: 29.7rem;
  }
}
@media (max-width: 767px) {
  .cta {
    width: 24.5rem;
  }
}
@media (max-width: 479px) {
  .cta {
    width: 22.5rem;
  }
}
@media (max-width: 1023px) {
  .cta {
    font-size: 1.8rem;
  }
}
@media (max-width: 767px) {
  .cta {
    font-size: 1.6rem;
  }
}
@media (max-width: 479px) {
  .cta {
    font-size: 1.6rem;
  }
}

.hero {
  padding-top: 15rem;
  padding-bottom: 0;
  background-color: #000715;
}
@media (max-width: 1023px) {
  .hero {
    padding-top: 12rem;
    padding-bottom: 0;
  }
}
@media (max-width: 767px) {
  .hero {
    padding-top: 10rem;
    padding-bottom: 0;
  }
}
@media (max-width: 479px) {
  .hero {
    padding-top: 8rem;
    padding-bottom: 0;
  }
}
.hero__container {
  gap: 6rem;
}
@media (max-width: 1023px) {
  .hero__container {
    gap: 5rem;
  }
}
@media (max-width: 767px) {
  .hero__container {
    gap: 4rem;
  }
}
@media (max-width: 479px) {
  .hero__container {
    gap: 4rem;
  }
}
.hero__title {
  font-size: 5.8rem;
  font-weight: 500;
  line-height: 1.3;
  letter-spacing: -0.01rem;
  color: #FFFFFF;
}
@media (max-width: 1023px) {
  .hero__title {
    font-size: 4.8rem;
  }
}
@media (max-width: 767px) {
  .hero__title {
    font-size: 4.4rem;
  }
}
@media (max-width: 479px) {
  .hero__title {
    font-size: 3.2rem;
  }
}
.hero__title--highlight {
  font-weight: 700;
  color: #F7552F;
}
.hero .cta-group {
  gap: 6rem;
}
@media (max-width: 1023px) {
  .hero .cta-group {
    gap: 3rem;
  }
}
@media (max-width: 767px) {
  .hero .cta-group {
    gap: 2rem;
  }
}
@media (max-width: 479px) {
  .hero .cta-group {
    gap: 1.5rem;
  }
}
.hero .cta-group .cta--seller {
  color: #FFFFFF;
  background-color: #F7552F;
}
.hero .cta-group .cta--creator {
  box-shadow: inset 0 0 0 0.2rem #F7552F;
}
.hero .marquee {
  transform: rotate(-32deg) rotateX(26deg) rotateY(25deg) skewX(8deg) skewY(11deg);
}
.hero .marquee__track {
  width: max-content;
  gap: 1.5rem;
  animation: marqueeAnimation 45s linear infinite;
}

.vision {
  padding-left: 8rem;
  padding-right: 8rem;
}
@media (max-width: 1023px) {
  .vision {
    padding-left: 3.2rem;
    padding-right: 3.2rem;
  }
}
@media (max-width: 767px) {
  .vision {
    padding-left: 1.6rem;
    padding-right: 1.6rem;
  }
}
@media (max-width: 479px) {
  .vision {
    padding-left: 1.6rem;
    padding-right: 1.6rem;
  }
}
.vision__container > * {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.vision__title {
  font-size: 7rem;
}
@media (max-width: 1023px) {
  .vision__title {
    font-size: 6rem;
  }
}
@media (max-width: 767px) {
  .vision__title {
    font-size: 4.8rem;
  }
}
@media (max-width: 479px) {
  .vision__title {
    font-size: 3.6rem;
  }
}
.vision__image {
  width: 35rem;
  height: 50rem;
  background-image: url("../images/vision_image.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 50rem;
}
@media (max-width: 1023px) {
  .vision__image {
    width: 31rem;
    height: 42rem;
  }
}
@media (max-width: 767px) {
  .vision__image {
    width: 25rem;
    height: 35rem;
  }
}
@media (max-width: 479px) {
  .vision__image {
    width: 25rem;
    height: 35rem;
  }
}
.vision__desc {
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: -0.01em;
  color: #000715;
  opacity: 1;
}
@media (max-width: 1023px) {
  .vision__desc {
    font-size: 1.8rem;
  }
}
@media (max-width: 767px) {
  .vision__desc {
    font-size: 1.6rem;
  }
}
@media (max-width: 479px) {
  .vision__desc {
    font-size: 1.6rem;
  }
}
@media (max-width: 479px) {
  .vision__desc .no-mobile {
    display: none;
  }
}

@keyframes marqueeAnimation {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-33.3333333333%);
  }
}