* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

h1, h2 {
  text-align: center;
}

a {
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

button {
  border: none;
  background-color: transparent;
}

section {
  padding-top: 12rem;
  padding-bottom: 12rem;
}
@media (max-width: 1023px) {
  section {
    padding-top: 10rem;
    padding-bottom: 10rem;
  }
}
@media (max-width: 767px) {
  section {
    padding-top: 8rem;
    padding-bottom: 8rem;
  }
}
@media (max-width: 479px) {
  section {
    padding-top: 8rem;
    padding-bottom: 8rem;
  }
}

.section-inner {
  gap: 12rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media (max-width: 1023px) {
  .section-inner {
    gap: 10rem;
  }
}
@media (max-width: 767px) {
  .section-inner {
    gap: 8rem;
  }
}
@media (max-width: 479px) {
  .section-inner {
    gap: 8rem;
  }
}

.container-default {
  padding-left: 8rem;
  padding-right: 8rem;
  width: 100%;
  max-width: 1440px;
}
@media (max-width: 1023px) {
  .container-default {
    padding-left: 3.2rem;
    padding-right: 3.2rem;
  }
}
@media (max-width: 767px) {
  .container-default {
    padding-left: 1.6rem;
    padding-right: 1.6rem;
  }
}
@media (max-width: 479px) {
  .container-default {
    padding-left: 1.6rem;
    padding-right: 1.6rem;
  }
}
@media (max-width: 1023px) {
  .container-default {
    max-width: 960px;
  }
}
@media (max-width: 767px) {
  .container-default {
    max-width: 720px;
  }
}
@media (max-width: 479px) {
  .container-default {
    max-width: 440px;
  }
}

.max-1023px {
  display: none;
}
@media (max-width: 1023px) {
  .max-1023px {
    display: block;
  }
}
.max-767px {
  display: none;
}
@media (max-width: 767px) {
  .max-767px {
    display: block;
  }
}
.max-479px {
  display: none;
}
@media (max-width: 479px) {
  .max-479px {
    display: block;
  }
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.bg-center {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@font-face {
  font-family: "Pretendard";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Regular.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "Pretendard";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Medium.woff2") format("woff2");
  font-weight: 500;
  font-display: swap;
}
@font-face {
  font-family: "Pretendard";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-display: swap;
}
@font-face {
  font-family: "Pretendard";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Bold.woff2") format("woff2");
  font-weight: 700;
  font-display: swap;
}
html {
  font-size: 62.5%;
}

body {
  font-family: "Pretendard", sans-serif;
}

h2 {
  font-size: 4.2rem;
  font-weight: 700;
  line-height: 1.3;
  letter-spacing: 0;
  color: #000715;
}
@media (max-width: 1023px) {
  h2 {
    font-size: 4.5rem;
  }
}
@media (max-width: 767px) {
  h2 {
    font-size: 3.6rem;
  }
}
@media (max-width: 479px) {
  h2 {
    font-size: 2.8rem;
  }
}

a {
  color: transparent;
}

.cta {
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 1.4;
  letter-spacing: 0rem;
  color: #F7552F;
  width: 31.3rem;
  border-radius: 5rem;
}
@media (max-width: 1023px) {
  .cta {
    width: 29.7rem;
  }
}
@media (max-width: 767px) {
  .cta {
    width: 24.5rem;
  }
}
@media (max-width: 479px) {
  .cta {
    width: 22.5rem;
  }
}
@media (max-width: 1023px) {
  .cta {
    font-size: 1.8rem;
  }
}
@media (max-width: 767px) {
  .cta {
    font-size: 1.6rem;
  }
}
@media (max-width: 479px) {
  .cta {
    font-size: 1.6rem;
  }
}

.cta-sub {
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 1.4;
  letter-spacing: 0rem;
  color: #F7552F;
  padding-left: 6rem;
  padding-right: 6rem;
  border-radius: 5rem;
}
@media (max-width: 1023px) {
  .cta-sub {
    font-size: 1.8rem;
  }
}
@media (max-width: 767px) {
  .cta-sub {
    font-size: 1.6rem;
  }
}
@media (max-width: 479px) {
  .cta-sub {
    font-size: 1.6rem;
  }
}

.hero--index {
  padding-top: 15rem;
  padding-bottom: 0;
  background-color: #000715;
}
@media (max-width: 1023px) {
  .hero--index {
    padding-top: 12rem;
    padding-bottom: 0;
  }
}
@media (max-width: 767px) {
  .hero--index {
    padding-top: 10rem;
    padding-bottom: 0;
  }
}
@media (max-width: 479px) {
  .hero--index {
    padding-top: 8rem;
    padding-bottom: 0;
  }
}
.hero * {
  text-align: center;
}
.hero__container {
  gap: 6rem;
}
@media (max-width: 1023px) {
  .hero__container {
    gap: 5rem;
  }
}
@media (max-width: 767px) {
  .hero__container {
    gap: 4rem;
  }
}
@media (max-width: 479px) {
  .hero__container {
    gap: 4rem;
  }
}
.hero__title {
  font-size: 5.4rem;
  font-weight: 500;
  line-height: 1.3;
  letter-spacing: -0.01rem;
  color: #FFFFFF;
  opacity: 0;
}
@media (max-width: 1023px) {
  .hero__title {
    font-size: 4.6rem;
  }
}
@media (max-width: 767px) {
  .hero__title {
    font-size: 4.2rem;
  }
}
@media (max-width: 479px) {
  .hero__title {
    font-size: 3.2rem;
  }
}
.hero__title--highlight {
  font-weight: 700;
  color: #F7552F;
}
.hero .cta-group {
  gap: 6rem;
}
@media (max-width: 1023px) {
  .hero .cta-group {
    gap: 3rem;
  }
}
@media (max-width: 767px) {
  .hero .cta-group {
    gap: 2rem;
  }
}
@media (max-width: 479px) {
  .hero .cta-group {
    gap: 1.5rem;
  }
}
.hero .cta-group .hero__cta {
  opacity: 0;
}
.hero .cta-group .hero__cta--seller {
  color: #FFFFFF;
  background-color: #F7552F;
}
.hero .cta-group .hero__cta--seller:hover {
  background-color: #FF7A31;
}
.hero .cta-group .hero__cta--creator {
  box-shadow: inset 0 0 0 0.2rem #F7552F;
}
.hero .cta-group .hero__cta--creator:hover {
  color: #FF7A31;
  box-shadow: inset 0 0 0 0.2rem #FF7A31;
}
.hero .marquee {
  opacity: 0;
  will-change: transform;
}
.hero .marquee__track {
  width: max-content;
  gap: 1.5rem;
}
.hero .marquee__item > img {
  display: block;
  width: clamp(20rem, 18.846rem + 3.205vw, 25rem);
}

.vision * {
  text-align: center;
}
.vision__container {
  max-width: 1440px;
}
.vision__container > * {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.vision__title {
  font-size: clamp(3.6rem, 2.931rem + 1.859vw, 6.5rem);
}
.vision__image {
  width: 35rem;
  height: 50rem;
  background-image: url("../images/vision_image.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 50rem;
}
@media (max-width: 1023px) {
  .vision__image {
    width: 35rem;
  }
}
@media (max-width: 767px) {
  .vision__image {
    width: 25rem;
  }
}
@media (max-width: 479px) {
  .vision__image {
    width: 25rem;
  }
}
@media (max-width: 1023px) {
  .vision__image {
    height: 42rem;
  }
}
@media (max-width: 767px) {
  .vision__image {
    height: 35rem;
  }
}
@media (max-width: 479px) {
  .vision__image {
    height: 35rem;
  }
}
.vision__desc {
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: -0.01em;
  color: #000715;
  opacity: 1;
}
@media (max-width: 1023px) {
  .vision__desc {
    font-size: 1.8rem;
  }
}
@media (max-width: 767px) {
  .vision__desc {
    font-size: 1.6rem;
  }
}
@media (max-width: 479px) {
  .vision__desc {
    font-size: 1.4rem;
  }
}
@media (max-width: 479px) {
  .vision__desc .no-mobile {
    display: none;
  }
}

.difference {
  padding-left: 8rem;
  padding-right: 8rem;
}
@media (max-width: 1023px) {
  .difference {
    padding-left: 3.2rem;
    padding-right: 3.2rem;
  }
}
@media (max-width: 767px) {
  .difference {
    padding-left: 1.6rem;
    padding-right: 1.6rem;
  }
}
@media (max-width: 479px) {
  .difference {
    padding-left: 1.6rem;
    padding-right: 1.6rem;
  }
}
.difference * {
  text-align: center;
}
.difference__container {
  gap: 0;
}
.difference__contents {
  padding-top: 6rem;
  padding-bottom: 0rem;
}
@media (max-width: 1023px) {
  .difference__contents {
    padding-top: 5rem;
    padding-bottom: 0;
  }
}
@media (max-width: 767px) {
  .difference__contents {
    padding-top: 4rem;
    padding-bottom: 0;
  }
}
@media (max-width: 479px) {
  .difference__contents {
    padding-top: 4rem;
    padding-bottom: 0rem;
  }
}
.difference__item {
  gap: 6rem;
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 3rem;
  position: absolute;
  inset: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  will-change: transform;
}
@media (max-width: 1023px) {
  .difference__item {
    gap: 3rem;
  }
}
@media (max-width: 767px) {
  .difference__item {
    gap: 4rem;
  }
}
@media (max-width: 479px) {
  .difference__item {
    gap: 4rem;
  }
}
.difference__item--01 {
  background-image: url("../images/difference_01.webp");
}
.difference__item--02 {
  background-image: url("../images/difference_02.webp");
}
.difference__item--03 {
  background-image: url("../images/difference_03.webp");
}
.difference__item-title {
  font-size: 3.4rem;
  font-weight: 600;
  line-height: 1.3;
  letter-spacing: 0;
  color: #FFFFFF;
}
@media (max-width: 1023px) {
  .difference__item-title {
    font-size: 3rem;
  }
}
@media (max-width: 767px) {
  .difference__item-title {
    font-size: 2.6rem;
  }
}
@media (max-width: 479px) {
  .difference__item-title {
    font-size: 2.2rem;
  }
}
.difference__item-desc {
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.4;
  letter-spacing: 0;
  color: #FFFFFF;
}
@media (max-width: 1023px) {
  .difference__item-desc {
    font-size: 2rem;
  }
}
@media (max-width: 767px) {
  .difference__item-desc {
    font-size: 1.8rem;
  }
}
@media (max-width: 479px) {
  .difference__item-desc {
    font-size: 1.6rem;
  }
}
.difference__item-title, .difference__item-desc {
  position: relative;
  z-index: 5;
}
.difference__item::before {
  content: "";
  background: rgba(0, 0, 0, 0.5);
  border-radius: 3rem;
  position: absolute;
  inset: 0;
  z-index: 4;
}

.explore {
  background-color: #00040C;
}
.explore * {
  color: #FFFFFF;
}
@media (max-width: 1023px) {
  .explore__contents {
    flex-direction: column;
  }
}
.explore__contents > * {
  height: 90vh;
  padding: 6rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
@media (max-width: 1023px) {
  .explore__contents > * {
    height: 50vh;
  }
}
@media (max-width: 767px) {
  .explore__contents > * {
    height: 50vh;
  }
}
@media (max-width: 479px) {
  .explore__contents > * {
    height: 50vh;
  }
}
@media (max-width: 1023px) {
  .explore__contents > * {
    padding: 5rem;
  }
}
@media (max-width: 767px) {
  .explore__contents > * {
    padding: 4rem;
  }
}
.explore__contents > *::before {
  content: "";
  position: absolute;
  inset: 0;
  z-index: 1;
}
.explore__seller {
  clip-path: polygon(0% 0%, 60% 0%, 40% 100%, 0% 100%);
  background-image: url("../images/explore_seller.webp");
}
@media (max-width: 1023px) {
  .explore__seller {
    clip-path: none;
  }
}
.explore__seller::before {
  clip-path: polygon(0% 0%, 60% 0%, 40% 100%, 0% 100%);
  background: rgba(0, 0, 0, 0.7);
}
@media (max-width: 1023px) {
  .explore__seller::before {
    clip-path: none;
  }
}
.explore__creator {
  position: absolute;
  inset: 0;
  clip-path: polygon(60% 0%, 100% 0%, 100% 100%, 40% 100%);
  background-image: url("../images/explore_creator.webp");
}
@media (max-width: 1023px) {
  .explore__creator {
    top: 50%;
    left: 0;
    clip-path: none;
  }
}
.explore__creator::before {
  clip-path: polygon(60% 0%, 100% 0%, 100% 100%, 40% 100%);
  background: rgba(0, 0, 0, 0.65);
}
@media (max-width: 1023px) {
  .explore__creator::before {
    clip-path: none;
  }
}
.explore__creator-text {
  right: 6rem;
  bottom: 6rem;
}
@media (max-width: 1023px) {
  .explore__creator-text {
    right: 5rem;
    bottom: 5rem;
  }
}
@media (max-width: 767px) {
  .explore__creator-text {
    right: 4rem;
    bottom: 4rem;
  }
}
.explore__text {
  gap: 3rem;
  display: flex;
  flex-direction: column;
}
@media (max-width: 1023px) {
  .explore__text {
    gap: 2.5rem;
  }
}
@media (max-width: 767px) {
  .explore__text {
    gap: 2rem;
  }
}
@media (max-width: 479px) {
  .explore__text {
    gap: 2rem;
  }
}
.explore__desc {
  font-size: 2.8rem;
  font-weight: 500;
  line-height: 1.4;
  letter-spacing: 0;
  color: #FFFFFF;
}
@media (max-width: 1023px) {
  .explore__desc {
    font-size: 2.6rem;
  }
}
@media (max-width: 767px) {
  .explore__desc {
    font-size: 2.2rem;
  }
}
@media (max-width: 479px) {
  .explore__desc {
    font-size: 2rem;
  }
}
.explore__cta {
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.4;
  letter-spacing: 0;
  color: #FFFFFF;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  gap: 1rem;
  width: fit-content;
  display: flex;
  align-items: center;
  border: 1px solid #FFFFFF;
  border-radius: 5rem;
  background-color: #4E4E4E;
}
@media (max-width: 1023px) {
  .explore__cta {
    font-size: 2rem;
  }
}
@media (max-width: 767px) {
  .explore__cta {
    font-size: 1.8rem;
  }
}
@media (max-width: 479px) {
  .explore__cta {
    font-size: 1.8rem;
  }
}
@media (max-width: 1023px) {
  .explore__cta {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }
}
@media (max-width: 767px) {
  .explore__cta {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }
}
@media (max-width: 479px) {
  .explore__cta {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}
@media (max-width: 1023px) {
  .explore__cta {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
  }
}
@media (max-width: 767px) {
  .explore__cta {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
}
@media (max-width: 479px) {
  .explore__cta {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
}
@media (max-width: 1023px) {
  .explore__cta {
    gap: 1rem;
  }
}
@media (max-width: 767px) {
  .explore__cta {
    gap: 0.5rem;
  }
}
@media (max-width: 479px) {
  .explore__cta {
    gap: 0.5rem;
  }
}

.review__contents {
  gap: 3rem;
}
@media (max-width: 1023px) {
  .review__contents {
    gap: 3rem;
  }
}
@media (max-width: 767px) {
  .review__contents {
    gap: 3rem;
  }
}
@media (max-width: 479px) {
  .review__contents {
    gap: 1.5rem;
  }
}
.review .reviewSwiper__slide {
  aspect-ratio: 3/4;
  min-height: 50rem;
  position: relative;
}
.review .reviewSwiper__slide::before {
  content: "";
  position: absolute;
  inset: 0;
  z-index: 1;
  border-radius: 2rem;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 7, 21, 0.7));
}
.review .reviewSwiper__slide > img {
  width: 100%;
  height: 100%;
  border-radius: 2rem;
  object-fit: cover;
}
.review .reviewSwiper__slide-play {
  border: none;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 2;
  transform: translate(-50%, -50%);
  background-color: transparent;
}
.review .reviewSwiper__slide-play > i::before {
  font-size: 4.4rem;
  color: rgba(255, 255, 255, 0.5);
}
.review .reviewSwiper__slide-play:hover > i::before {
  color: rgb(255, 255, 255);
}
.review .reviewSwiper__slide-text {
  position: absolute;
  left: 2.5rem;
  bottom: 2rem;
  z-index: 2;
}
.review .reviewSwiper__slide-label {
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 1.3;
  letter-spacing: 0;
  color: #FF883F;
  width: fit-content;
  padding: 0.5rem 1.5rem;
  border-radius: 5rem;
  box-shadow: inset 0 0 0 0.2rem #FF883F;
}
@media (max-width: 1023px) {
  .review .reviewSwiper__slide-label {
    font-size: 1.8rem;
  }
}
@media (max-width: 767px) {
  .review .reviewSwiper__slide-label {
    font-size: 1.6rem;
  }
}
@media (max-width: 479px) {
  .review .reviewSwiper__slide-label {
    font-size: 1.6rem;
  }
}
.review .reviewSwiper__slide-title {
  font-size: 2.6rem;
  font-weight: 700;
  line-height: 1.3;
  letter-spacing: 0;
  color: #FFFFFF;
  margin-top: 1.5rem;
  margin-bottom: 3rem;
}
@media (max-width: 1023px) {
  .review .reviewSwiper__slide-title {
    font-size: 2.6rem;
  }
}
@media (max-width: 767px) {
  .review .reviewSwiper__slide-title {
    font-size: 2.4rem;
  }
}
@media (max-width: 479px) {
  .review .reviewSwiper__slide-title {
    font-size: 2.2rem;
  }
}
.review .reviewSwiper__slide-author {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.4;
  letter-spacing: 0;
  color: #C0C0C0;
}
@media (max-width: 1023px) {
  .review .reviewSwiper__slide-author {
    font-size: 1.4rem;
  }
}
@media (max-width: 767px) {
  .review .reviewSwiper__slide-author {
    font-size: 1.3rem;
  }
}
@media (max-width: 479px) {
  .review .reviewSwiper__slide-author {
    font-size: 1.2rem;
  }
}

.swiper-button-prev, .swiper-button-next {
  color: #00040C;
}

.modal-body {
  padding-bottom: 56.25%;
  height: 0;
}

@keyframes tiltAnimation {
  0% {
    transform: rotate(0) rotateX(0) rotateY(0) skewX(0) skewY(10);
  }
  100% {
    transform: rotate(-32deg) rotateX(26deg) rotateY(25deg) skewX(8deg) skewY(11deg);
  }
}
@keyframes marqueeAnimation {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-33.3333333333%);
  }
}
.hero--sub {
  padding-top: 22rem;
  padding-bottom: 12rem;
  background-color: #FFFFFF;
  position: relative;
}
@media (max-width: 1023px) {
  .hero--sub {
    padding-top: 10rem;
    padding-bottom: 10rem;
  }
}
@media (max-width: 767px) {
  .hero--sub {
    padding-top: 8rem;
    padding-bottom: 8rem;
  }
}
@media (max-width: 479px) {
  .hero--sub {
    padding-top: 8rem;
    padding-bottom: 8rem;
  }
}
.hero__bg {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  border-bottom-left-radius: 10vw;
}
.hero__bg--seller {
  background-image: url("../images/seller-hero.webp");
}
.hero__bg--seller::before {
  content: "";
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  border-bottom-left-radius: 10vw;
  position: absolute;
  inset: 0;
  z-index: 2;
}
.hero__container--sub {
  position: relative;
  z-index: 3;
}
.hero__title--sub {
  font-size: 4.2rem;
  font-weight: 500;
  line-height: 1.3;
  letter-spacing: -0.01rem;
  color: #FFFFFF;
  opacity: 1;
}
@media (max-width: 1023px) {
  .hero__title--sub {
    font-size: 4.5rem;
  }
}
@media (max-width: 767px) {
  .hero__title--sub {
    font-size: 3.6rem;
  }
}
@media (max-width: 479px) {
  .hero__title--sub {
    font-size: 2.8rem;
  }
}
.hero .cta-seller {
  color: #FFFFFF;
  background-color: #2F50F7;
}

.results__lists {
  gap: 12rem;
}
@media (max-width: 1023px) {
  .results__lists {
    gap: 10rem;
  }
}
@media (max-width: 767px) {
  .results__lists {
    gap: 10rem;
  }
}
@media (max-width: 479px) {
  .results__lists {
    gap: 10rem;
  }
}
.results__list {
  text-align: center;
  transform-origin: top center;
}
.results__list .text {
  font-size: 4.2rem;
  font-weight: 700;
  line-height: 1.3;
  letter-spacing: 0;
  color: #000715;
}
@media (max-width: 1023px) {
  .results__list .text {
    font-size: 4.5rem;
  }
}
@media (max-width: 767px) {
  .results__list .text {
    font-size: 3.6rem;
  }
}
@media (max-width: 479px) {
  .results__list .text {
    font-size: 2.8rem;
  }
}
@media (max-width: 1439px) {
  .results__list {
    flex-direction: column;
  }
  .results__list .image {
    position: absolute;
    top: 0;
    transform: translateY(-100%);
  }
}

.liveType__tab {
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.4;
  letter-spacing: 0;
  color: #C0C0C0;
  display: flex;
  flex: 1;
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-bottom: 0.2rem solid #C0C0C0;
}
@media (max-width: 1023px) {
  .liveType__tab {
    font-size: 2.2rem;
  }
}
@media (max-width: 767px) {
  .liveType__tab {
    font-size: 1.8rem;
  }
}
@media (max-width: 479px) {
  .liveType__tab {
    font-size: 1.8rem;
  }
}
.liveType__tab::before, .liveType__tab::after {
  content: "";
  flex: 1;
}
.liveType__tab.on {
  color: #2F50F7;
  border-bottom: 0.2rem solid #2F50F7;
}
.liveType__content {
  gap: 6rem;
  margin-top: -6rem;
  display: none;
}
@media (max-width: 1023px) {
  .liveType__content {
    gap: 5rem;
  }
}
@media (max-width: 767px) {
  .liveType__content {
    gap: 6rem;
  }
}
@media (max-width: 479px) {
  .liveType__content {
    gap: 6rem;
  }
}
@media (max-width: 1023px) {
  .liveType__content {
    margin-top: -5rem;
  }
}
@media (max-width: 767px) {
  .liveType__content {
    margin-top: -2rem;
  }
}
@media (max-width: 479px) {
  .liveType__content {
    margin-top: -2rem;
  }
}
.liveType__content.on {
  display: flex;
}
@media (max-width: 1439px) {
  .liveType__content {
    flex-direction: column;
  }
  .liveType__content .liveType__text > * {
    text-align: center;
  }
  .liveType__content .liveType__text li {
    width: fit-content;
    margin: 0 auto;
  }
}
.liveType__image {
  width: fit-content;
  position: relative;
}
.liveType__image .live-image {
  width: clamp(18rem, 16.385rem + 4.487vw, 25rem);
}
.liveType__image .circle-image {
  width: clamp(25rem, 22.692rem + 6.41vw, 35rem);
  height: clamp(25rem, 22.692rem + 6.41vw, 35rem);
  border-radius: 50%;
  position: absolute;
  top: 50%;
  right: 0;
  z-index: -1;
  transform: translateY(-50%);
}
.liveType__title {
  font-size: 2.8rem;
  font-weight: 700;
  line-height: 1.3;
  letter-spacing: -0.005rem;
  color: #000715;
}
@media (max-width: 1023px) {
  .liveType__title {
    font-size: 2.6rem;
  }
}
@media (max-width: 767px) {
  .liveType__title {
    font-size: 2.2rem;
  }
}
@media (max-width: 479px) {
  .liveType__title {
    font-size: 2rem;
  }
}
.liveType__feature {
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.4;
  letter-spacing: 0;
  color: #2F50F7;
  margin-bottom: 3rem;
}
@media (max-width: 1023px) {
  .liveType__feature {
    font-size: 1.6rem;
  }
}
@media (max-width: 767px) {
  .liveType__feature {
    font-size: 1.4rem;
  }
}
@media (max-width: 479px) {
  .liveType__feature {
    font-size: 1.3rem;
  }
}
.liveType__desc {
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.4;
  letter-spacing: -0.05rem;
  color: #000715;
  margin-bottom: 1.5rem;
}
@media (max-width: 1023px) {
  .liveType__desc {
    font-size: 1.8rem;
  }
}
@media (max-width: 767px) {
  .liveType__desc {
    font-size: 1.6rem;
  }
}
@media (max-width: 479px) {
  .liveType__desc {
    font-size: 1.4rem;
  }
}
.liveType__subDesc li {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0;
  color: #4E4E4E;
  list-style-type: disc;
  margin-left: 2rem;
}
@media (max-width: 1023px) {
  .liveType__subDesc li {
    font-size: 1.6rem;
  }
}
@media (max-width: 767px) {
  .liveType__subDesc li {
    font-size: 1.4rem;
  }
}
@media (max-width: 479px) {
  .liveType__subDesc li {
    font-size: 1.3rem;
  }
}

.accordion {
  flex-direction: column;
  width: 100%;
}
.accordion-item {
  display: flex;
  flex-direction: column;
}
.accordion-header {
  width: 100%;
}
.accordion-header button {
  font-size: 2.6rem;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: 0;
  color: #00040C;
  width: 100%;
  padding: 3rem;
  position: relative;
}
@media (max-width: 1023px) {
  .accordion-header button {
    font-size: 2.6rem;
  }
}
@media (max-width: 767px) {
  .accordion-header button {
    font-size: 2.4rem;
  }
}
@media (max-width: 479px) {
  .accordion-header button {
    font-size: 2.2rem;
  }
}
.accordion-header button::after, .accordion-header button:not(.collapsed)::after {
  font-size: 2.6rem;
  font-weight: 700;
  line-height: 0;
  letter-spacing: 0;
  color: #00040C;
  background: none !important;
  height: 0;
  margin: 0;
  position: absolute;
  top: 50%;
  right: 3rem;
  transform: translateY(-50%);
}
@media (max-width: 1023px) {
  .accordion-header button::after, .accordion-header button:not(.collapsed)::after {
    font-size: 2.6rem;
  }
}
@media (max-width: 767px) {
  .accordion-header button::after, .accordion-header button:not(.collapsed)::after {
    font-size: 2.4rem;
  }
}
@media (max-width: 479px) {
  .accordion-header button::after, .accordion-header button:not(.collapsed)::after {
    font-size: 2.2rem;
  }
}
.accordion-header button::after {
  content: "+";
}
.accordion-header button:not(.collapsed)::after {
  content: "-";
}
.accordion-body {
  gap: 6rem;
  flex-direction: column;
  align-items: start;
  padding: 2.4rem;
}
@media (max-width: 1023px) {
  .accordion-body {
    gap: 6rem;
  }
}
@media (max-width: 767px) {
  .accordion-body {
    gap: 1.5rem;
  }
}
@media (max-width: 479px) {
  .accordion-body {
    gap: 1rem;
  }
}
.accordion-body__container {
  gap: 3rem;
  flex-direction: column;
  align-items: start;
}
@media (max-width: 1023px) {
  .accordion-body__container {
    gap: 3rem;
  }
}
@media (max-width: 767px) {
  .accordion-body__container {
    gap: 1.5rem;
  }
}
@media (max-width: 479px) {
  .accordion-body__container {
    gap: 1rem;
  }
}
.accordion-body h4 {
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1.4;
  letter-spacing: 0;
  color: #00040C;
}
@media (max-width: 1023px) {
  .accordion-body h4 {
    font-size: 1.8rem;
  }
}
@media (max-width: 767px) {
  .accordion-body h4 {
    font-size: 1.6rem;
  }
}
@media (max-width: 479px) {
  .accordion-body h4 {
    font-size: 1.4rem;
  }
}
.accordion-body ul {
  padding-left: 4rem;
}
.accordion-body li {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: -0.005rem;
  color: #4E4E4E;
  list-style-type: disc;
}
@media (max-width: 1023px) {
  .accordion-body li {
    font-size: 1.6rem;
  }
}
@media (max-width: 767px) {
  .accordion-body li {
    font-size: 1.4rem;
  }
}
@media (max-width: 479px) {
  .accordion-body li {
    font-size: 1.3rem;
  }
}
@media (min-width: 1440px) {
  .accordion {
    flex-direction: row;
    justify-content: center;
  }
  .accordion-item {
    flex-direction: row;
    align-items: stretch;
  }
  .accordion-header {
    width: fit-content;
  }
  .accordion-header button {
    writing-mode: vertical-rl;
    height: 43.6rem;
  }
  .accordion-header button::after, .accordion-header button:not(.collapsed)::after {
    width: 0;
    top: 89%;
    left: 50%;
    right: auto;
    transform: translateX(-50%);
  }
  .accordion-body {
    width: 100%;
  }
  .accordion-collapse {
    display: block !important;
    height: 43.6rem !important;
    transition: none !important;
    overflow: hidden;
  }
  .accordion-collapse.collapse {
    width: 0;
  }
  .accordion-collapse.show {
    width: fit-content;
    display: flex !important;
    justify-content: center;
    align-items: center;
  }
}
@media (min-width: 768px) {
  .accordion-body {
    flex-direction: row;
    padding: 3rem;
  }
  .accordion-body__container--left::after {
    content: "";
    width: 0.1rem;
    height: 100%;
    background-color: #C0C0C0;
    position: absolute;
    top: 0;
    right: -3rem;
  }
}/*# sourceMappingURL=main.css.map */