@use "../abstracts/_bundle.scss" as abs;

.contact {
    &__container{
        @include abs.responsiveGap(0, 5rem, 4rem);

        width: 100%;
        max-width: 144rem;
        flex-direction: row;
        justify-content: space-between;
        align-items: start;
        position: relative;
        z-index: 5;
    }

    .container__left {
        padding-top: 14rem;
        flex-direction: column;
        align-items: center;
        gap: 12rem;
    }

    &__title-wrapper {
        @include abs.responsiveGap(2rem, 1.5rem, 1rem);

        flex-direction: column;
        align-items: start;

        > * {
            text-align: left;
        }
    }

    &__subtitle {
        @include abs.fontStyle(body, body3, 400, 1.3, 0, map-get(abs.$colors, gray-150));
    }

    &__image {
        width: 20rem;
        height: 20rem;
        border-radius: 50%;
        background-image: url("../images/contact_image.webp");
    }

    &__form {
        @include abs.responsivePaddingY(3rem, 3rem, 2rem);
        @include abs.responsiveGap(3rem, 3rem, 2rem);

        flex-direction: column;
        border-radius: 2rem;
        background-color: rgba(255, 255, 255, 0.3);
        backdrop-filter: blur(1rem);
        padding: 3rem;

        &--top, &--middle {
            gap: 3rem;

            > * {
                @include abs.responsiveGap(2rem, 2rem, 1.5rem, 1.5rem);

                display: flex;
                flex-direction: column;
                align-items: start;
            }
        }

        &--bottom {
            @include abs.responsiveGap(2rem, 2rem, 1.5rem, 1.5rem);

            width: 100%;

            .detail {
                @include abs.responsiveGap(2rem, 2rem, 1.3rem);

                flex-direction: column;
                align-items: start;
            }

            textarea {
                padding: 2rem 1rem;
                min-height: 18rem;
                height: fit-content;
                line-height: 1.5;
                background-color: transparent;
            }
        }

        label > span, .label {
            @include abs.fontStyle(label, label1, 700, 1.2, 0, map-get(abs.$colors, navy));

            position: relative;

            &::before {
                content: "";
                width: 0.5rem;
                height: 0.5rem;
                border-radius: 50%;
                background-color: map-get(abs.$colors, primary);
                position: absolute;
                top: 0;
                left: 100%;
                transform: translateX(0.5rem);
            }
        }

        input, select {
            @include abs.responsivePaddingX(1rem);
            @include abs.responsivePaddingY(1rem, 1rem, 0.8rem, 0.8rem);

            width: 30rem;
            line-height: 1.5;
            background-color: transparent;
        }

        input, select, textarea {
            @include abs.fontStyle(body, body4, 400, 1.3, -0.01rem, map-get(abs.$colors, black));

            border: none;
            border-bottom: 0.1rem solid map-get(abs.$colors, gray-100);

            &:focus {
                outline: none;
            }

            &::placeholder {
                color: map-get(abs.$colors, gray-150);
            }
        }

        .agreement {
            @include abs.responsiveGap(2rem, 2rem, 1.5rem);
    
            flex-direction: column;
            align-items: start;
    
            &__content {
                flex-direction: column;
                align-items: start;
                gap: 1rem;
                padding: 2rem;
                background-color: map-get(abs.$colors, gray-50);
                border-radius: 1rem;
    
                > * {                
                    display: flex;
                    flex-direction: column;
                    align-items: start;
                }
    
                .title {
                    @include abs.fontStyle(body, body4, 600, 1.3, 0, map-get(abs.$colors, gray-150));
                }
    
                .desc {
                    @include abs.fontStyle(body, body6, 400, 1.4, 0, map-get(abs.$colors, gray-150));
                }
            }
    
            &__check {
                gap: 1rem;
    
                &.check i{
                    color: map-get(abs.$colors, primary);
                }
    
                &:not(.check) i{
                    color: map-get(abs.$colors, gray-100);
                }
    
                i {
                    font-size: 2rem;
                    cursor: pointer;
                    transition: all 0.25s ease-in-out;
                }
    
                p {
                    @include abs.fontStyle(body, body4, 400, 1.4, 0, map-get(abs.$colors, navy));
                }
            }
        }

        button {
            @include abs.fontStyle(button, button2, 500, 1.2, 0, map-get(abs.$colors, white));
            @include abs.responsiveMarginTop(3rem, 2rem, 1rem, 1rem);

            width: 100%;
            padding: 1.5rem 0;
            border-radius: 10rem;
            background-color: map-get(abs.$colors, navy);
            transition: all 0.3s ease-in-out;

            &:hover {
                color: map-get(abs.$colors, primary);
            }
        }
    }

    @media (max-width: 1440px) {
        &__container{
            flex-direction: column;
            align-items: center;
        }

        &__title-wrapper {
            align-items: center;

            > * {
                text-align: center;
            }
        }

        .container__left {
            padding-top: 0;
        }

        .contact__image {
            display: none;
        }
    }

    @media (max-width: 1440px) and (min-width: 1024px) {
        &__container{
            gap: 6rem;
        }

        &__title-wrapper {
            gap: 1.5rem;
        }
    }

    @media (max-width: map-get(abs.$breakpoints, medium)) {
        &__form--top, &__form--middle {
            width: 100%;
            flex-direction: column;

            > * {
                width: 100%;
            }

            select, input {
                width: 100%;
            }
        }

    }
}