@use "sass:map";
@use "../abstracts/_bundle.scss" as abs;

body[data-page="creator"] {

    // --------------- hero--sub ---------------
    .hero {
        &__bg {        
            &--creator {
                &::before {
                    content: "";
                    width: 100%;
                    height: 100%;
                    background: linear-gradient(180deg, rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.7));
                    position: absolute;
                    inset: 0;
                    z-index: 2;
                }
            }
        }

        .cta-creator {
            background-color: map.get(abs.$colors, primary);
        }
    }
        
    // --------------- results ---------------
    .results {
        &__list--01 {
            img {
                width: 8rem;
                height: 8rem;
            }
        } 

        &__list--02 {
            img {
                width: 11rem;
                height: 8rem;
            }
        } 

        &__list--03 {
            img {
                width: 11rem;
                height: 6rem;
            }
        } 
    }
    
    // --------------- liveType ---------------
    .liveType {
        &__tab {
            &.on {
                color: map.get(abs.$colors, orange);
                border-bottom: 0.2rem solid map.get(abs.$colors, orange);
            }
        }

        &__feature {
            @include abs.respond-typo(body, body-md, 500, 1.45, 0.01em, map.get(abs.$colors, orange));

            background-color: map.get(abs.$colors, yellow);
        }
    }

    // --------------- guide ---------------
    .guide-card {
        &:nth-child(2n - 1) {
            &::before {
                background: linear-gradient(to bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.1));
            }

            background-image: url("../images/guide_creator_01.webp");
        }
        
        &:nth-child(2n) {
            &::before {
                background: linear-gradient(to bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.2));
            }

            background-image: url("../images/guide_creator_02.webp");
        }
    }
}
