@use "../abstracts/bundle" as abs;

.faq {
    &__content {
        @include abs.responsiveGap(6rem, 5rem, 4rem);

        flex-direction: column;
    }

    &__filter {
        @include abs.responsiveGap(3rem, 2.5rem);

        justify-content: space-between;
    }

    &__tabs {
        @include abs.responsiveGap(1.5rem, 1.5rem, 1rem, 0.6rem);

        > * {
            @include abs.responsiveGap(1.5rem, 1.5rem, 1rem, 0.6rem);
        }
    }

    &__tab {
        @include abs.fontStyle(body, body2, 700, 1.4, -0.02em, map-get(abs.$colors, gray-150));
        @include abs.responsivePaddingX(2rem, 2rem, 2rem, 1rem);
        @include abs.responsivePaddingY(1rem, 1rem, 1rem, 0.8rem);

        border: 0.1rem solid map-get(abs.$colors, gray-150);
        border-radius: 10rem;
    }

    &__tab[aria-selected="true"] {
        color: map-get(abs.$colors, white);
        background-color: map-get(abs.$colors, navy);
        border-color: map-get(abs.$colors, navy);
    }

    &__search {
        width: 38.4rem;
        justify-content: space-between;
        padding: 1.5rem 2rem;
        border-radius: 10rem;
        background-color: map-get(abs.$colors, gray-50);

        .button__container {
            width: 1.6rem;
            height: 1.8rem;
        }

        button {
            inset: 0;

            &::before {
                content: "";
                width: 4rem;
                height: 4rem;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
        }

        i {
            font-size: 1.6rem;
        }
    }

    &__input {
        @include abs.fontStyle(body, body4, 400, 1.4, 0, map-get(abs.$colors, black));

        flex: 1;
        border: none;
        background-color: transparent;
        
        &::placeholder {
            color: map-get(abs.$colors, gray-150);
        }

        &:focus {
            outline: none;
        }
    }

    &__list {
        border-top: 0.2rem solid map-get(abs.$colors, gray-150);

        .no-result {
            @include abs.fontStyle(body, body3, 400, 1.4, 0, map-get(abs.$colors, gray-150));

            margin-top: 6rem;
            text-align: center;
        }
    }

    &__item {
        border: none;
        box-shadow: none;
        border-bottom: 0.1rem solid map-get(abs.$colors, gray-100);

        p {
            margin-bottom: 0;
        }

        .accordion-header {

            .faq__title{
                @include abs.fontStyle(body, body3, 700, 1.4, 0, map-get(abs.$colors, navy));
            }

            .accordion-button {
                justify-content: start;
                gap: 1.5rem;
                padding: 3rem;
                background-color: map-get(abs.$colors, white);
                box-shadow: none;
                            
                &[aria-expanded="true"] {
                    box-shadow: none;
                    background-color: map-get(abs.$colors, gray-50);
                }
            }
        }

        .accordion-body {
            justify-content: left;
            align-items: start;
            gap: 1.5rem;
            padding: 0 3rem 3rem 3rem;
            background-color: map-get(abs.$colors, gray-50);

            .faq__desc {
                @include abs.fontStyle(body, body4, 400, 1.4, 0, map-get(abs.$colors, navy));
                
                white-space: pre-wrap;

                a {
                    color: map-get(abs.$colors, blue);
                    text-decoration: underline;
                }
            }
        }
    }

    &__label {
        @include abs.fontStyle(body, body3, 500, 1, 0, map-get(abs.$colors, navy));

        font-family: "Noto Sans KR", sans-serif;
    }

    &__pagination {
        gap: 0.5rem;

        .page-link {
            border: none;
            color: map-get(abs.$colors, gray-100);

            &:focus {
                box-shadow: none;
            }
        }
        
        .page-num-btn {
            @include abs.fontStyle(body, body4, 400, 1.4, 0, map-get(abs.$colors, navy));

            width: 4rem;
            height: 4rem;
            border-radius: 10rem;
        }

        .page-num-btn[aria-current="page"] {
            background-color: map-get(abs.$colors, navy);
            color: map-get(abs.$colors, white);
        }
    }

    @media (max-width: 1440px) {
        &__filter {
            align-items: start;
            flex-direction: column;
        }

        &__search {
            width: 100%;
        }
    }

    @media (max-width: 685px) {
        &__tabs {
            flex-direction: column;
            align-items: start;
        }
    }
}