@use "../abstracts/_bundle.scss" as abs;

// --------------- hero--sub ---------------
.hero {
    &--sub {
        @include abs.responsivePaddingY(
            $pc: (pt: 22rem, pb: 12rem), $laptop: (pt: 10rem, pb: 10rem), $tablet: (pt: 8rem, pb: 8rem), $mobile: (pt: 8rem, pb: 8rem));

        background-color: map-get(abs.$colors, white);
        position: relative;
    }

    &__bg {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        border-bottom-left-radius: 10vw;
        
        &--seller {
            background-image: url("../images/seller-hero.webp");

            &::before {
                content: "";
                width: 100%;
                height: 100%;
                background: rgba(0, 0, 0, 0.7);
                border-bottom-left-radius: 10vw;
                position: absolute;
                inset: 0;
                z-index: 2;
            }
        }
    }

    &__container--sub {
        position: relative;
        z-index: 3;
    }

    &__title--sub {
        @include abs.fontStyle(title, title3, 500, 1.3, -0.01rem, map-get(abs.$colors, white));
        opacity: 1;
    }

    .cta-seller {
        color: map-get(abs.$colors, white);
        background-color: map-get(abs.$colors, blue);
    }

}

// --------------- results ---------------
.results {
    &__lists {
        @include abs.responsiveGap(12rem, 10rem, 10rem, 10rem);    
    }

    &__list {
        text-align: center;
        transform-origin: top center;

        .text {
            @include abs.fontStyle(title, title3, 700, 1.3, 0, map-get(abs.$colors, navy));
        }

        @media (max-width: 1439px) {
            flex-direction: column;

            .image {
                position: absolute;
                top: 0;
                transform: translateY(-100%);
            }
        }
    }
}



// --------------- liveType ---------------
.liveType {

    &__tab {
        @include abs.fontStyle(button, button1, 700, 1.4, 0, map-get(abs.$colors, light-gray));

        display: flex;
        flex: 1;
        padding-top: 1rem;
        padding-bottom: 1rem;
        border-bottom: 0.2rem solid map-get(abs.$colors, light-gray);

        &::before, &::after {
            content: "";
            flex: 1;
        }

        &.on {
            color: map-get(abs.$colors, blue);
            border-bottom: 0.2rem solid map-get(abs.$colors, blue);
        }
    }

    &__content {
        @include abs.responsiveGap(6rem, 5rem, 6rem, 6rem);
        @include abs.responsiveMarginTop(-6rem, -5rem, -2rem, -2rem);

        display: none;

        &.on {
            display: flex;
        }
        
        @media (max-width: 1439px) {
            flex-direction: column;

            .liveType__text {

                > * {
                    text-align: center;
                }

                li {
                    width: fit-content;
                    margin: 0 auto;
                }
            }
        }
    }

    &__image {
        width: fit-content;
        position: relative;

        .live-image {
            width: clamp(18rem, 16.385rem + 4.487vw, 25rem);
        }
        
        .circle-image {
            width: clamp(25rem, 22.692rem + 6.41vw, 35rem);
            height: clamp(25rem, 22.692rem + 6.41vw, 35rem);
            border-radius: 50%;
            position: absolute;
            top: 50%;
            right: 0;
            z-index: -1;
            transform: translateY(-50%);
        }
    }

    &__title {
        @include abs.fontStyle(body, body1, 700, 1.3, -0.005rem, map-get(abs.$colors, navy));
    }

    &__feature {
        @include abs.fontStyle(body, body4, 500, 1.4, 0, map-get(abs.$colors, blue));

        margin-bottom: 3rem;
    }

    &__desc {
        @include abs.fontStyle(body, body3, 400, 1.4, -0.05rem, map-get(abs.$colors, navy));

        margin-bottom: 1.5rem;
    }

    &__subDesc {
        li {
            @include abs.fontStyle(body, body4, 400, 1.5, 0, map-get(abs.$colors, gray));

            list-style-type: disc;
            margin-left: 2rem;
        }
    }
}

// --------------- guide ---------------
.accordion {
    flex-direction: column;
    width: 100%;

    &-item {
        display: flex;
        flex-direction: column;
    }

    &-header {
        width: 100%;
        // flex-shrink: 0;

        button {
            @include abs.fontStyle(title, title5, 700, 1.2, 0, map-get(abs.$colors, black));

            width: 100%;
            padding: 3rem;
            position: relative;
            text-orientation: upright;  // 글자를 똑바로 세움

            &::after, &:not(.collapsed)::after {
                @include abs.fontStyle(title, title5, 700, 0, 0, map-get(abs.$colors, black));

                background: none !important;
                height: 0;
                margin: 0;
                position: absolute;
                top: 50%;
                right: 3rem;
                transform: translateY(-50%);
            }

            // 아코디언이 닫힌 상태(collapsed)
            &::after {
                content: "+";
            }

            // 아코디언이 열린 상태
            &:not(.collapsed) {
                &::after {
                    content: "-";
                }
            }
        }
    }

    &-body {
        @include abs.responsiveGap(6rem, 6rem, 1.5rem, 1rem);

        // width: 100%;
        flex-direction: column;
        align-items: start;
        padding: 2.4rem;

        &__container {
            @include abs.responsiveGap(3rem, 3rem, 1.5rem, 1rem);

            flex-direction: column;
            align-items: start;
        }

        h4 {
            @include abs.fontStyle(body, body3, 700, 1.4, 0, map-get(abs.$colors, black));
        }

        ul {
            padding-left: 4rem;
        }

        li {
            @include abs.fontStyle(body, body4, 400, 1.5, -0.005rem, map-get(abs.$colors, gray));

            list-style-type: disc;
        }

    }

    @media (min-width: 1440px) {
        flex-direction: row;
        justify-content: center;

        &-item {
            flex-direction: row;
            align-items: stretch;
        }

        &-header{
            width: fit-content;

            button {
                writing-mode: vertical-rl;  // 글자를 세로로 작성
                height: 43.6rem;

                &::after, &:not(.collapsed)::after {
                    width: 0;
                    top: 89%;
                    left: 50%;
                    right: auto;
                    transform: translateX(-50%);
                }
            }
        }

        &-body {
            width: 100%;
        }

        &-collapse {
            display: block !important;
            height: 43.6rem !important;
            transition: none !important;
            overflow: hidden;

            &.collapse {
                width: 0;
            }

            &.show {
                width: fit-content;
                display: flex !important;
                justify-content: center;
                align-items: center;
            }
        }
    }

    @media (min-width: 768px) {
        &-body {
            flex-direction: row;
            padding: 3rem;
    
            &__container--left::after {
                content: "";
                width: 0.1rem;
                height: 100%;
                background-color: map-get(abs.$colors, light-gray);
                position: absolute;
                top: 0;
                right: -3rem;
            }
        }
    }
}


// @media (min-width: 1024px) {

//     /* collapse의 height 기반 효과 제거 */
//     .accordion-collapse.collapse {
//       display: block !important;
//       height: 43.6rem !important;
//       overflow: hidden;
//     }
  
//     /* width 애니메이션 제거 */
//     .accordion-collapse {
//       width: 0;
//       transition: none !important;
//     }
  
//     .accordion-collapse.show {
//       width: fit-content; /* 고정 가로 영역 */
//     }
//   }