@use "../abstracts/_bundle.scss" as abs;

body[data-page="seller"] {

    // --------------- hero--sub ---------------
    .hero {
        &__bg {        
            &--seller {
                background-image: url("../images/seller_hero.webp");

                &::before {
                    content: "";
                    width: 100%;
                    height: 100%;
                    background: rgba(0, 0, 0, 0.8);
                    position: absolute;
                    inset: 0;
                    z-index: 2;
                }
            }
        }

        .cta-seller {
            background-color: map-get(abs.$colors, blue-100);
        }
    }
    
    // --------------- liveType ---------------
    .liveType {

        &__tab {
            &.on {
                color: map-get(abs.$colors, blue-100);
                border-bottom: 0.2rem solid map-get(abs.$colors, blue-100);
            }
        }

        &__feature {
            @include abs.fontStyle(body, body4, 500, 1.4, 0, map-get(abs.$colors, blue-100));

            background-color: map-get(abs.$colors, blue-50);
        }
    }

    // --------------- guide ---------------
    .guide-card__container {
        grid-template-columns: repeat(4, 1fr);

        @media (max-width: 1439px) {
            grid-template-rows: repeat(2, 1fr); 
            grid-template-columns: repeat(2, 1fr); 
        }

        @media (max-width: map-get(abs.$breakpoints, small)) {
            grid-template-rows: repeat(4, 1fr); 
        }
    }

    .guide-card {
        &:nth-child(2n - 1) {
            background-image: url("../images/guide_seller_01.webp");

            &::before {
                background: linear-gradient(to bottom, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0));
            }
        }
        
        &:nth-child(2n) {
            background-image: url("../images/guide_seller_02.webp");

            &::before {
                background: linear-gradient(to bottom, rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.05));
            }
        }


    }
}
